<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>alef-ar.fina.1</key>
    <string>alef-ar.fina.1.glif</string>
    <key>damma-ar</key>
    <string>damma-ar.glif</string>
    <key>dammatan-ar</key>
    <string>dammatan-ar.glif</string>
    <key>gafsarkashabove-ar</key>
    <string>gafsarkashabove-ar.glif</string>
    <key>hehgoal-ar.init</key>
    <string>hehgoal-ar.init.glif</string>
    <key>kafswash-ar.init</key>
    <string>kafswash-ar.init.glif</string>
    <key>lam-ar.init.1</key>
    <string>lam-ar.init.1.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
  </dict>
</plist>
