<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arAlef.fina.1</key>
	<string>arA_lef.fina.1.glif</string>
	<key>arGaf.above</key>
	<string>arG_af.above.glif</string>
	<key>arHeh.init2</key>
	<string>arH_eh.init2.glif</string>
	<key>arLam.init.1</key>
	<string>arL_am.init.1.glif</string>
	<key>arSad.init</key>
	<string>arS_ad.init.glif</string>
	<key>arTah.isol</key>
	<string>arT_ah.isol.glif</string>
	<key>uni064C</key>
	<string>uni064C_.glif</string>
	<key>uni064F</key>
	<string>uni064F_.glif</string>
	<key>uni0651</key>
	<string>uni0651.glif</string>
</dict>
</plist>
