<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D10AA3E1-5111-485A-9884-7C0DAD06D001</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina.1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.damma-ar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dammatan-ar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gafsarkashabove-ar</key>
      <integer>3</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar.init</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar.init</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.init.1</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shadda-ar</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
