<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>800</integer>
    <key>capHeight</key>
    <integer>660</integer>
    <key>copyright</key>
    <string></string>
    <key>descender</key>
    <integer>-200</integer>
    <key>familyName</key>
    <string>Mada</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>name</key>
        <string>Base stroke</string>
        <key>y</key>
        <real>79.0</real>
      </dict>
      <dict>
        <key>name</key>
        <string>Cap</string>
        <key>y</key>
        <real>624.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>note</key>
    <string></string>
    <key>openTypeHeadCreated</key>
    <string>2015/10/10 16:55:59</string>
    <key>openTypeHheaAscender</key>
    <integer>900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>100</integer>
    <key>openTypeNameDescription</key>
    <string>Mada is a geometric, unmodulted Arabic display typeface inspired by Cairo road signage.</string>
    <key>openTypeNameDesigner</key>
    <string>Khaled Hosny</string>
    <key>openTypeNameDesignerURL</key>
    <string></string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string></string>
    <key>openTypeNameManufacturerURL</key>
    <string></string>
    <key>openTypeNameSampleText</key>
    <string>صف خلق خود كمثل ٱلشمس إذ بزغت يحظى ٱلضجيع بها نجلاء معطار.</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>100</integer>
    <key>openTypeOS2VendorID</key>
    <string>ALIF</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>776</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>322</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-300</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Mada</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string></string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>484</integer>
  </dict>
</plist>
