<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1350</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Use Line Breaks</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>master01</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>master01</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>hamza-ar</string>
      <string>highhamza-ar</string>
      <string>alef-ar</string>
      <string>alef-ar.fina</string>
      <string>alef-ar.fina.1</string>
      <string>alef-ar.fina.1.short</string>
      <string>alef-ar.short</string>
      <string>alef-ar.fina.short</string>
      <string>alefHamzaabove-ar</string>
      <string>alefHamzabelow-ar</string>
      <string>alefWavyhamzaabove-ar</string>
      <string>alefWavyhamzabelow-ar</string>
      <string>alefMadda-ar</string>
      <string>alefWasla-ar</string>
      <string>highhamzaAlef-ar</string>
      <string>behDotless-ar</string>
      <string>behDotless-ar.fina</string>
      <string>behDotless-ar.medi</string>
      <string>behDotless-ar.init</string>
      <string>beh-ar</string>
      <string>peh-ar</string>
      <string>beeh-ar</string>
      <string>beheh-ar</string>
      <string>teh-ar</string>
      <string>tehRing-ar</string>
      <string>tehThreedotsdown-ar</string>
      <string>theh-ar</string>
      <string>tteh-ar</string>
      <string>tteheh-ar</string>
      <string>teheh-ar</string>
      <string>behThreedotsupabove-ar</string>
      <string>behThreedotsupbelow-ar</string>
      <string>tehThreedotsupbelow-ar</string>
      <string>behTwodotsbelowDotabove-ar</string>
      <string>behVinvertedbelow-ar</string>
      <string>behVabove-ar</string>
      <string>behVbelow-ar</string>
      <string>behhamzaabove-ar</string>
      <string>jeem-ar</string>
      <string>tcheh-ar</string>
      <string>tcheheh-ar</string>
      <string>tchehDotabove-ar</string>
      <string>nyeh-ar</string>
      <string>dyeh-ar</string>
      <string>hah-ar</string>
      <string>hah-ar.fina2</string>
      <string>hah-ar.2</string>
      <string>hah-ar.fina</string>
      <string>hah-ar.medi</string>
      <string>hah-ar.init</string>
      <string>hahHamzaabove-ar</string>
      <string>hahTwodotsverticalabove-ar</string>
      <string>hahTwodotshorizontalabove-ar</string>
      <string>hahThreedotsabove-ar</string>
      <string>hahThreedotsupbelow-ar</string>
      <string>khah-ar</string>
      <string>jeemTwodotsabove-ar</string>
      <string>dal-ar</string>
      <string>dal-ar.fina</string>
      <string>thal-ar</string>
      <string>ddal-ar</string>
      <string>dahal-ar</string>
      <string>ddahal-ar</string>
      <string>dalRing-ar</string>
      <string>dalDotbelow-ar</string>
      <string>dalDotbelowTah-ar</string>
      <string>dul-ar</string>
      <string>dalThreedotsdown-ar</string>
      <string>dalFourdots-ar</string>
      <string>dalVinvertedabove-ar</string>
      <string>dalTwodotsverticalbelowTah-ar</string>
      <string>dalVinvertedbelow-ar</string>
      <string>reh-ar</string>
      <string>reh-ar.fina</string>
      <string>zain-ar</string>
      <string>zainVinvertedabove-ar</string>
      <string>rreh-ar</string>
      <string>rehv-ar</string>
      <string>rehRing-ar</string>
      <string>rehDotbelow-ar</string>
      <string>rehVbelow-ar</string>
      <string>rehDotbelowdotabove-ar</string>
      <string>rehTwodots-ar</string>
      <string>jeh-ar</string>
      <string>rehFourdots-ar</string>
      <string>rehVinvertedabove-ar</string>
      <string>rehStroke-ar</string>
      <string>rehTwodotsverticalabove-ar</string>
      <string>rehHamzaabove-ar</string>
      <string>seen-ar</string>
      <string>seen-ar.fina</string>
      <string>seen-ar.medi</string>
      <string>seen-ar.init</string>
      <string>seenDotbelowDotabove-ar</string>
      <string>seenThreedotsbelow-ar</string>
      <string>sheen-ar</string>
      <string>sheenDotbelow-ar</string>
      <string>sheenThreedotsbelow-ar</string>
      <string>sad-ar</string>
      <string>sad-ar.fina</string>
      <string>sad-ar.medi</string>
      <string>sad-ar.init</string>
      <string>sadTwodotsbelow-ar</string>
      <string>sadThreedots-ar</string>
      <string>dad-ar</string>
      <string>dadDotbelow-ar</string>
      <string>tah-ar</string>
      <string>tah-ar.fina</string>
      <string>tah-ar.medi</string>
      <string>tah-ar.init</string>
      <string>tahThreedots-ar</string>
      <string>zah-ar</string>
      <string>ain-ar</string>
      <string>ain-ar.fina</string>
      <string>ain-ar.medi</string>
      <string>ain-ar.init</string>
      <string>ainThreedots-ar</string>
      <string>ghain-ar</string>
      <string>ghainDotbelow-ar</string>
      <string>feh-ar</string>
      <string>veh-ar</string>
      <string>fehDotless-ar</string>
      <string>fehDotless-ar.fina</string>
      <string>fehDotless-ar.medi</string>
      <string>fehDotless-ar.init</string>
      <string>fehDotmovedbelow-ar</string>
      <string>fehDotbelow-ar</string>
      <string>fehThreedotsbelow-ar</string>
      <string>peheh-ar</string>
      <string>qafDotless-ar</string>
      <string>qafDotless-ar.fina</string>
      <string>qaf-ar</string>
      <string>qafDotabove-ar</string>
      <string>qafThreedotsabove-ar</string>
      <string>kafDotless-ar</string>
      <string>kafDotless-ar.fina</string>
      <string>kaf-ar</string>
      <string>kaf-ar.medi</string>
      <string>kaf-ar.init</string>
      <string>keheh-ar</string>
      <string>keheh-ar.fina</string>
      <string>kehehTwodotshorizontalabove-ar</string>
      <string>kehehThreedotsbelow-ar</string>
      <string>kehehDotabove-ar</string>
      <string>kehehThreedotsabove-ar</string>
      <string>kehehThreedotsupbelow-ar</string>
      <string>gaf-ar</string>
      <string>gafRing-ar</string>
      <string>gafThreedots-ar</string>
      <string>kafswash-ar</string>
      <string>kafswash-ar.fina</string>
      <string>kafswash-ar.medi</string>
      <string>kafswash-ar.init</string>
      <string>kafRing-ar</string>
      <string>kafDotabove-ar</string>
      <string>kafThreedotsbelow-ar</string>
      <string>gafTwodotsbelow-ar</string>
      <string>ng-ar</string>
      <string>ngoeh-ar</string>
      <string>gueh-ar</string>
      <string>lam-ar</string>
      <string>lam-ar.fina</string>
      <string>lam-ar.medi</string>
      <string>lam-ar.medi.1</string>
      <string>lam-ar.init</string>
      <string>lam-ar.init.1</string>
      <string>lamVabove-ar</string>
      <string>lamDotabove-ar</string>
      <string>lamThreedotsabove-ar</string>
      <string>lamThreedotsbelow-ar</string>
      <string>meem-ar</string>
      <string>meem-ar.fina</string>
      <string>meem-ar.medi</string>
      <string>meem-ar.init</string>
      <string>noon-ar</string>
      <string>noonDotbelow-ar</string>
      <string>noonghunna-ar</string>
      <string>noonghunna-ar.fina</string>
      <string>rnoon-ar</string>
      <string>noonRing-ar</string>
      <string>noonThreedotsabove-ar</string>
      <string>heh-ar</string>
      <string>heh-ar.fina</string>
      <string>heh-ar.medi</string>
      <string>heh-ar.init</string>
      <string>hehHamzaabove-ar</string>
      <string>hehgoal-ar</string>
      <string>hehgoal-ar.fina</string>
      <string>hehgoal-ar.medi</string>
      <string>hehgoal-ar.init</string>
      <string>hehgoalHamzaabove-ar</string>
      <string>hehDoachashmee-ar</string>
      <string>hehDoachashmee-ar.fina</string>
      <string>hehVinvertedabove-ar</string>
      <string>tehMarbuta-ar</string>
      <string>tehMarbutagoal-ar</string>
      <string>waw-ar</string>
      <string>waw-ar.fina</string>
      <string>wawring-ar</string>
      <string>wawTwodots-ar</string>
      <string>wawDotabove-ar</string>
      <string>wawHamzaabove-ar</string>
      <string>kirghizoe-ar</string>
      <string>oe-ar</string>
      <string>u-ar</string>
      <string>yu-ar</string>
      <string>kirghizyu-ar</string>
      <string>ve-ar</string>
      <string>alefMaksura-ar</string>
      <string>alefMaksura-ar.fina</string>
      <string>yeh-ar</string>
      <string>yehHamzaabove-ar</string>
      <string>yehVabove-ar</string>
      <string>yehVinverted-farsi</string>
      <string>yeh-farsi</string>
      <string>yehTwodotsabove-farsi</string>
      <string>yehThreedotsabove-farsi</string>
      <string>yehTail-ar</string>
      <string>yehKashmiri-ar</string>
      <string>e-ar</string>
      <string>yehThreedotsbelow-ar</string>
      <string>yehbarree-ar</string>
      <string>yehbarree-ar.fina</string>
      <string>yehbarreeHamzaabove-ar</string>
      <string>highhamzaWaw-ar</string>
      <string>uHamzaabove-ar</string>
      <string>highhamzaYeh-ar</string>
      <string>ae-ar</string>
      <string>seenFourdotsabove-ar</string>
      <string>noonTwodotsbelow-ar</string>
      <string>noonTahabove-ar</string>
      <string>noonVabove-ar</string>
      <string>lamBar-ar</string>
      <string>seenTwodotsverticalabove-ar</string>
      <string>seenTahTwodotshorizontalabove-ar</string>
      <string>hahTahabove-ar</string>
      <string>seenVinvertedabove-ar</string>
      <string>kashida-ar</string>
      <string>decimalseparator-ar</string>
      <string>thousandseparator-ar</string>
      <string>zero-ar</string>
      <string>one-ar</string>
      <string>two-ar</string>
      <string>three-ar</string>
      <string>four-ar</string>
      <string>five-ar</string>
      <string>six-ar</string>
      <string>seven-ar</string>
      <string>eight-ar</string>
      <string>nine-ar</string>
      <string>zero-persian</string>
      <string>one-persian</string>
      <string>two-persian</string>
      <string>three-persian</string>
      <string>four-persian</string>
      <string>four-persian.urdu</string>
      <string>five-persian</string>
      <string>six-persian</string>
      <string>seven-persian</string>
      <string>seven-persian.urdu</string>
      <string>eight-persian</string>
      <string>nine-persian</string>
      <string>parenleft.ar</string>
      <string>parenright.ar</string>
      <string>braceleft.ar</string>
      <string>braceright.ar</string>
      <string>bracketleft.ar</string>
      <string>bracketright.ar</string>
      <string>fullstop-ar</string>
      <string>comma-ar</string>
      <string>semicolon-ar</string>
      <string>question-ar</string>
      <string>percent-ar</string>
      <string>arHighHamza.above</string>
      <string>tail-ar</string>
      <string>tahabove-ar</string>
      <string>dotabove-ar</string>
      <string>dotbelow-ar</string>
      <string>dotcenter-ar</string>
      <string>twodotsverticalabove-ar</string>
      <string>twodotsverticalbelow-ar</string>
      <string>twodotshorizontalabove-ar</string>
      <string>twodotshorizontalbelow-ar</string>
      <string>threedotsdownabove-ar</string>
      <string>threedotsdownbelow-ar</string>
      <string>threedotsupabove-ar</string>
      <string>threedotsupbelow-ar</string>
      <string>fourdotsabove-ar</string>
      <string>fourdotsbelow-ar</string>
      <string>stroke-ar</string>
      <string>ringbelow-ar</string>
      <string>wasla-ar</string>
      <string>wavyhamzaabove-ar</string>
      <string>miniKeheh-ar</string>
      <string>gafsarkashabove-ar</string>
      <string>wavyhamzabelow-ar</string>
      <string>ring-ar</string>
      <string>alefabove-ar</string>
      <string>alefbelow-ar</string>
      <string>hamzaabove-ar</string>
      <string>hamzabelow-ar</string>
      <string>fathatan-ar</string>
      <string>dammatan-ar</string>
      <string>kasratan-ar</string>
      <string>kasratan-ar.alt</string>
      <string>fatha-ar</string>
      <string>damma-ar</string>
      <string>damma-ar.alt</string>
      <string>kasra-ar</string>
      <string>kasra-ar.alt</string>
      <string>shadda-ar</string>
      <string>shadda-ar.alt</string>
      <string>sukun-ar</string>
      <string>madda-ar</string>
      <string>noonghunnaabove-ar</string>
      <string>dammainverted-ar</string>
      <string>fathaHorizont-ar</string>
      <string>vabove-ar</string>
      <string>vbelow-ar</string>
      <string>vinvertedabove-ar</string>
      <string>vinvertedbelow-ar</string>
      <string>dotvowelbelow-ar</string>
      <string>dammareversed-ar</string>
      <string>fathatwodots-ar</string>
      <string>_sad-ar.head</string>
      <string>extender</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>_sad-ar.head</key>
      <string>_sadar.head</string>
      <key>ae-ar</key>
      <string>uni06D5</string>
      <key>ain-ar</key>
      <string>uni0639</string>
      <key>ain-ar.fina</key>
      <string>uni0639.fina</string>
      <key>ain-ar.init</key>
      <string>uni0639.init</string>
      <key>ain-ar.medi</key>
      <string>uni0639.medi</string>
      <key>ainThreedots-ar</key>
      <string>uni06A0</string>
      <key>alef-ar</key>
      <string>uni0627</string>
      <key>alef-ar.fina</key>
      <string>uni0627.fina</string>
      <key>alef-ar.fina.1</key>
      <string>uni0627.fina.1</string>
      <key>alef-ar.fina.1.short</key>
      <string>uni0627.fina.1.short</string>
      <key>alef-ar.fina.short</key>
      <string>uni0627.fina.short</string>
      <key>alef-ar.short</key>
      <string>uni0627.short</string>
      <key>alefHamzaabove-ar</key>
      <string>uni0623</string>
      <key>alefHamzabelow-ar</key>
      <string>uni0625</string>
      <key>alefMadda-ar</key>
      <string>uni0622</string>
      <key>alefMaksura-ar</key>
      <string>uni0649</string>
      <key>alefMaksura-ar.fina</key>
      <string>uni0649.fina</string>
      <key>alefWasla-ar</key>
      <string>uni0671</string>
      <key>alefWavyhamzaabove-ar</key>
      <string>uni0672</string>
      <key>alefWavyhamzabelow-ar</key>
      <string>uni0673</string>
      <key>alefabove-ar</key>
      <string>uni0670</string>
      <key>alefbelow-ar</key>
      <string>uni0656</string>
      <key>beeh-ar</key>
      <string>uni067B</string>
      <key>beh-ar</key>
      <string>uni0628</string>
      <key>behDotless-ar</key>
      <string>uni066E</string>
      <key>behDotless-ar.fina</key>
      <string>uni066E.fina</string>
      <key>behDotless-ar.init</key>
      <string>uni066E.init</string>
      <key>behDotless-ar.medi</key>
      <string>uni066E.medi</string>
      <key>behThreedotsupabove-ar</key>
      <string>uni0751</string>
      <key>behThreedotsupbelow-ar</key>
      <string>uni0752</string>
      <key>behTwodotsbelowDotabove-ar</key>
      <string>uni0754</string>
      <key>behVabove-ar</key>
      <string>uni0756</string>
      <key>behVbelow-ar</key>
      <string>uni08A0</string>
      <key>behVinvertedbelow-ar</key>
      <string>uni0755</string>
      <key>beheh-ar</key>
      <string>uni0680</string>
      <key>behhamzaabove-ar</key>
      <string>uni08A1</string>
      <key>comma-ar</key>
      <string>uni060C</string>
      <key>dad-ar</key>
      <string>uni0636</string>
      <key>dadDotbelow-ar</key>
      <string>uni06FB</string>
      <key>dahal-ar</key>
      <string>uni068C</string>
      <key>dal-ar</key>
      <string>uni062F</string>
      <key>dal-ar.fina</key>
      <string>uni062F.fina</string>
      <key>dalDotbelow-ar</key>
      <string>uni068A</string>
      <key>dalDotbelowTah-ar</key>
      <string>uni068B</string>
      <key>dalFourdots-ar</key>
      <string>uni0690</string>
      <key>dalRing-ar</key>
      <string>uni0689</string>
      <key>dalThreedotsdown-ar</key>
      <string>uni068F</string>
      <key>dalTwodotsverticalbelowTah-ar</key>
      <string>uni0759</string>
      <key>dalVinvertedabove-ar</key>
      <string>uni06EE</string>
      <key>dalVinvertedbelow-ar</key>
      <string>uni075A</string>
      <key>damma-ar</key>
      <string>uni064F</string>
      <key>damma-ar.alt</key>
      <string>uni064F.alt</string>
      <key>dammainverted-ar</key>
      <string>uni0657</string>
      <key>dammareversed-ar</key>
      <string>uni065D</string>
      <key>dammatan-ar</key>
      <string>uni064C</string>
      <key>ddahal-ar</key>
      <string>uni068D</string>
      <key>ddal-ar</key>
      <string>uni0688</string>
      <key>decimalseparator-ar</key>
      <string>uni066B</string>
      <key>dotabove-ar</key>
      <string>dotabovear</string>
      <key>dotbelow-ar</key>
      <string>dotbelowar</string>
      <key>dotcenter-ar</key>
      <string>dotcenterar</string>
      <key>dotvowelbelow-ar</key>
      <string>uni065C</string>
      <key>dul-ar</key>
      <string>uni068E</string>
      <key>dyeh-ar</key>
      <string>uni0684</string>
      <key>e-ar</key>
      <string>uni06D0</string>
      <key>eight-ar</key>
      <string>uni0668</string>
      <key>eight-persian</key>
      <string>uni06F8</string>
      <key>fatha-ar</key>
      <string>uni064E</string>
      <key>fathaHorizont-ar</key>
      <string>uni0659</string>
      <key>fathatan-ar</key>
      <string>uni064B</string>
      <key>fathatwodots-ar</key>
      <string>uni065E</string>
      <key>feh-ar</key>
      <string>uni0641</string>
      <key>fehDotbelow-ar</key>
      <string>uni06A3</string>
      <key>fehDotless-ar</key>
      <string>uni06A1</string>
      <key>fehDotless-ar.fina</key>
      <string>uni06A1.fina</string>
      <key>fehDotless-ar.init</key>
      <string>uni06A1.init</string>
      <key>fehDotless-ar.medi</key>
      <string>uni06A1.medi</string>
      <key>fehDotmovedbelow-ar</key>
      <string>uni06A2</string>
      <key>fehThreedotsbelow-ar</key>
      <string>uni06A5</string>
      <key>five-ar</key>
      <string>uni0665</string>
      <key>five-persian</key>
      <string>uni06F5</string>
      <key>four-ar</key>
      <string>uni0664</string>
      <key>four-persian</key>
      <string>uni06F4</string>
      <key>four-persian.urdu</key>
      <string>uni06F4.urdu</string>
      <key>fourdotsabove-ar</key>
      <string>fourdotsabovear</string>
      <key>fourdotsbelow-ar</key>
      <string>fourdotsbelowar</string>
      <key>fullstop-ar</key>
      <string>uni06D4</string>
      <key>gaf-ar</key>
      <string>uni06AF</string>
      <key>gafRing-ar</key>
      <string>uni06B0</string>
      <key>gafThreedots-ar</key>
      <string>uni06B4</string>
      <key>gafTwodotsbelow-ar</key>
      <string>uni06B2</string>
      <key>gafsarkashabove-ar</key>
      <string>gafsarkashabovear</string>
      <key>ghain-ar</key>
      <string>uni063A</string>
      <key>ghainDotbelow-ar</key>
      <string>uni06FC</string>
      <key>gueh-ar</key>
      <string>uni06B3</string>
      <key>hah-ar</key>
      <string>uni062D</string>
      <key>hah-ar.2</key>
      <string>uni062D.2</string>
      <key>hah-ar.fina</key>
      <string>uni062D.fina</string>
      <key>hah-ar.fina2</key>
      <string>uni062D.fina2</string>
      <key>hah-ar.init</key>
      <string>uni062D.init</string>
      <key>hah-ar.medi</key>
      <string>uni062D.medi</string>
      <key>hahHamzaabove-ar</key>
      <string>uni0681</string>
      <key>hahTahabove-ar</key>
      <string>uni0772</string>
      <key>hahThreedotsabove-ar</key>
      <string>uni0685</string>
      <key>hahThreedotsupbelow-ar</key>
      <string>uni0758</string>
      <key>hahTwodotshorizontalabove-ar</key>
      <string>uni0757</string>
      <key>hahTwodotsverticalabove-ar</key>
      <string>uni0682</string>
      <key>hamza-ar</key>
      <string>uni0621</string>
      <key>hamzaabove-ar</key>
      <string>uni0654</string>
      <key>hamzabelow-ar</key>
      <string>uni0655</string>
      <key>heh-ar</key>
      <string>uni0647</string>
      <key>heh-ar.fina</key>
      <string>uni0647.fina</string>
      <key>heh-ar.init</key>
      <string>uni0647.init</string>
      <key>heh-ar.medi</key>
      <string>uni0647.medi</string>
      <key>hehDoachashmee-ar</key>
      <string>uni06BE</string>
      <key>hehDoachashmee-ar.fina</key>
      <string>uni06BE.fina</string>
      <key>hehHamzaabove-ar</key>
      <string>uni06C0</string>
      <key>hehVinvertedabove-ar</key>
      <string>uni06FF</string>
      <key>hehgoal-ar</key>
      <string>uni06C1</string>
      <key>hehgoal-ar.fina</key>
      <string>uni06C1.fina</string>
      <key>hehgoal-ar.init</key>
      <string>uni06C1.init</string>
      <key>hehgoal-ar.medi</key>
      <string>uni06C1.medi</string>
      <key>hehgoalHamzaabove-ar</key>
      <string>uni06C2</string>
      <key>highhamza-ar</key>
      <string>uni0674</string>
      <key>highhamzaAlef-ar</key>
      <string>uni0675</string>
      <key>highhamzaWaw-ar</key>
      <string>uni0676</string>
      <key>highhamzaYeh-ar</key>
      <string>uni0678</string>
      <key>jeem-ar</key>
      <string>uni062C</string>
      <key>jeemTwodotsabove-ar</key>
      <string>uni08A2</string>
      <key>jeh-ar</key>
      <string>uni0698</string>
      <key>kaf-ar</key>
      <string>uni0643</string>
      <key>kaf-ar.init</key>
      <string>uni0643.init</string>
      <key>kaf-ar.medi</key>
      <string>uni0643.medi</string>
      <key>kafDotabove-ar</key>
      <string>uni06AC</string>
      <key>kafDotless-ar</key>
      <string>kafDotlessar</string>
      <key>kafDotless-ar.fina</key>
      <string>kafDotlessar.fina</string>
      <key>kafRing-ar</key>
      <string>uni06AB</string>
      <key>kafThreedotsbelow-ar</key>
      <string>uni06AE</string>
      <key>kafswash-ar</key>
      <string>uni06AA</string>
      <key>kafswash-ar.fina</key>
      <string>uni06AA.fina</string>
      <key>kafswash-ar.init</key>
      <string>uni06AA.init</string>
      <key>kafswash-ar.medi</key>
      <string>uni06AA.medi</string>
      <key>kashida-ar</key>
      <string>uni0640</string>
      <key>kasra-ar</key>
      <string>uni0650</string>
      <key>kasra-ar.alt</key>
      <string>uni0650.alt</string>
      <key>kasratan-ar</key>
      <string>uni064D</string>
      <key>kasratan-ar.alt</key>
      <string>uni064D.alt</string>
      <key>keheh-ar</key>
      <string>uni06A9</string>
      <key>keheh-ar.fina</key>
      <string>uni06A9.fina</string>
      <key>kehehDotabove-ar</key>
      <string>uni0762</string>
      <key>kehehThreedotsabove-ar</key>
      <string>uni0763</string>
      <key>kehehThreedotsbelow-ar</key>
      <string>uni063C</string>
      <key>kehehThreedotsupbelow-ar</key>
      <string>uni0764</string>
      <key>kehehTwodotshorizontalabove-ar</key>
      <string>uni063B</string>
      <key>khah-ar</key>
      <string>uni062E</string>
      <key>kirghizoe-ar</key>
      <string>uni06C5</string>
      <key>kirghizyu-ar</key>
      <string>uni06C9</string>
      <key>lam-ar</key>
      <string>uni0644</string>
      <key>lam-ar.fina</key>
      <string>uni0644.fina</string>
      <key>lam-ar.init</key>
      <string>uni0644.init</string>
      <key>lam-ar.init.1</key>
      <string>uni0644.init.1</string>
      <key>lam-ar.medi</key>
      <string>uni0644.medi</string>
      <key>lam-ar.medi.1</key>
      <string>uni0644.medi.1</string>
      <key>lamBar-ar</key>
      <string>uni076A</string>
      <key>lamDotabove-ar</key>
      <string>uni06B6</string>
      <key>lamThreedotsabove-ar</key>
      <string>uni06B7</string>
      <key>lamThreedotsbelow-ar</key>
      <string>uni06B8</string>
      <key>lamVabove-ar</key>
      <string>uni06B5</string>
      <key>madda-ar</key>
      <string>uni0653</string>
      <key>meem-ar</key>
      <string>uni0645</string>
      <key>meem-ar.fina</key>
      <string>uni0645.fina</string>
      <key>meem-ar.init</key>
      <string>uni0645.init</string>
      <key>meem-ar.medi</key>
      <string>uni0645.medi</string>
      <key>miniKeheh-ar</key>
      <string>miniKehehar</string>
      <key>ng-ar</key>
      <string>uni06AD</string>
      <key>ngoeh-ar</key>
      <string>uni06B1</string>
      <key>nine-ar</key>
      <string>uni0669</string>
      <key>nine-persian</key>
      <string>uni06F9</string>
      <key>noon-ar</key>
      <string>uni0646</string>
      <key>noonDotbelow-ar</key>
      <string>uni06B9</string>
      <key>noonRing-ar</key>
      <string>uni06BC</string>
      <key>noonTahabove-ar</key>
      <string>uni0768</string>
      <key>noonThreedotsabove-ar</key>
      <string>uni06BD</string>
      <key>noonTwodotsbelow-ar</key>
      <string>uni0767</string>
      <key>noonVabove-ar</key>
      <string>uni0769</string>
      <key>noonghunna-ar</key>
      <string>uni06BA</string>
      <key>noonghunna-ar.fina</key>
      <string>uni06BA.fina</string>
      <key>noonghunnaabove-ar</key>
      <string>uni0658</string>
      <key>nyeh-ar</key>
      <string>uni0683</string>
      <key>oe-ar</key>
      <string>uni06C6</string>
      <key>one-ar</key>
      <string>uni0661</string>
      <key>one-persian</key>
      <string>uni06F1</string>
      <key>peh-ar</key>
      <string>uni067E</string>
      <key>peheh-ar</key>
      <string>uni06A6</string>
      <key>percent-ar</key>
      <string>uni066A</string>
      <key>qaf-ar</key>
      <string>uni0642</string>
      <key>qafDotabove-ar</key>
      <string>uni06A7</string>
      <key>qafDotless-ar</key>
      <string>uni066F</string>
      <key>qafDotless-ar.fina</key>
      <string>uni066F.fina</string>
      <key>qafThreedotsabove-ar</key>
      <string>uni06A8</string>
      <key>question-ar</key>
      <string>uni061F</string>
      <key>reh-ar</key>
      <string>uni0631</string>
      <key>reh-ar.fina</key>
      <string>uni0631.fina</string>
      <key>rehDotbelow-ar</key>
      <string>uni0694</string>
      <key>rehDotbelowdotabove-ar</key>
      <string>uni0696</string>
      <key>rehFourdots-ar</key>
      <string>uni0699</string>
      <key>rehHamzaabove-ar</key>
      <string>uni076C</string>
      <key>rehRing-ar</key>
      <string>uni0693</string>
      <key>rehStroke-ar</key>
      <string>uni075B</string>
      <key>rehTwodots-ar</key>
      <string>uni0697</string>
      <key>rehTwodotsverticalabove-ar</key>
      <string>uni076B</string>
      <key>rehVbelow-ar</key>
      <string>uni0695</string>
      <key>rehVinvertedabove-ar</key>
      <string>uni06EF</string>
      <key>rehv-ar</key>
      <string>uni0692</string>
      <key>ring-ar</key>
      <string>ringar</string>
      <key>ringbelow-ar</key>
      <string>ringbelowar</string>
      <key>rnoon-ar</key>
      <string>uni06BB</string>
      <key>rreh-ar</key>
      <string>uni0691</string>
      <key>sad-ar</key>
      <string>uni0635</string>
      <key>sad-ar.fina</key>
      <string>uni0635.fina</string>
      <key>sad-ar.init</key>
      <string>uni0635.init</string>
      <key>sad-ar.medi</key>
      <string>uni0635.medi</string>
      <key>sadThreedots-ar</key>
      <string>uni069E</string>
      <key>sadTwodotsbelow-ar</key>
      <string>uni069D</string>
      <key>seen-ar</key>
      <string>uni0633</string>
      <key>seen-ar.fina</key>
      <string>uni0633.fina</string>
      <key>seen-ar.init</key>
      <string>uni0633.init</string>
      <key>seen-ar.medi</key>
      <string>uni0633.medi</string>
      <key>seenDotbelowDotabove-ar</key>
      <string>uni069A</string>
      <key>seenFourdotsabove-ar</key>
      <string>uni075C</string>
      <key>seenTahTwodotshorizontalabove-ar</key>
      <string>uni0770</string>
      <key>seenThreedotsbelow-ar</key>
      <string>uni069B</string>
      <key>seenTwodotsverticalabove-ar</key>
      <string>uni076D</string>
      <key>seenVinvertedabove-ar</key>
      <string>uni077E</string>
      <key>semicolon-ar</key>
      <string>uni061B</string>
      <key>seven-ar</key>
      <string>uni0667</string>
      <key>seven-persian</key>
      <string>uni06F7</string>
      <key>seven-persian.urdu</key>
      <string>uni06F7.urdu</string>
      <key>shadda-ar</key>
      <string>uni0651</string>
      <key>shadda-ar.alt</key>
      <string>uni0651.alt</string>
      <key>sheen-ar</key>
      <string>uni0634</string>
      <key>sheenDotbelow-ar</key>
      <string>uni06FA</string>
      <key>sheenThreedotsbelow-ar</key>
      <string>uni069C</string>
      <key>six-ar</key>
      <string>uni0666</string>
      <key>six-persian</key>
      <string>uni06F6</string>
      <key>stroke-ar</key>
      <string>strokear</string>
      <key>sukun-ar</key>
      <string>uni0652</string>
      <key>tah-ar</key>
      <string>uni0637</string>
      <key>tah-ar.fina</key>
      <string>uni0637.fina</string>
      <key>tah-ar.init</key>
      <string>uni0637.init</string>
      <key>tah-ar.medi</key>
      <string>uni0637.medi</string>
      <key>tahThreedots-ar</key>
      <string>uni069F</string>
      <key>tahabove-ar</key>
      <string>uni0615</string>
      <key>tail-ar</key>
      <string>tailar</string>
      <key>tcheh-ar</key>
      <string>uni0686</string>
      <key>tchehDotabove-ar</key>
      <string>uni06BF</string>
      <key>tcheheh-ar</key>
      <string>uni0687</string>
      <key>teh-ar</key>
      <string>uni062A</string>
      <key>tehMarbuta-ar</key>
      <string>uni0629</string>
      <key>tehMarbutagoal-ar</key>
      <string>uni06C3</string>
      <key>tehRing-ar</key>
      <string>uni067C</string>
      <key>tehThreedotsdown-ar</key>
      <string>uni067D</string>
      <key>tehThreedotsupbelow-ar</key>
      <string>uni0753</string>
      <key>teheh-ar</key>
      <string>uni067F</string>
      <key>thal-ar</key>
      <string>uni0630</string>
      <key>theh-ar</key>
      <string>uni062B</string>
      <key>thousandseparator-ar</key>
      <string>uni066C</string>
      <key>three-ar</key>
      <string>uni0663</string>
      <key>three-persian</key>
      <string>uni06F3</string>
      <key>threedotsdownabove-ar</key>
      <string>threedotsdownabovear</string>
      <key>threedotsdownbelow-ar</key>
      <string>threedotsdownbelowar</string>
      <key>threedotsupabove-ar</key>
      <string>threedotsupabovear</string>
      <key>threedotsupbelow-ar</key>
      <string>threedotsupbelowar</string>
      <key>tteh-ar</key>
      <string>uni0679</string>
      <key>tteheh-ar</key>
      <string>uni067A</string>
      <key>two-ar</key>
      <string>uni0662</string>
      <key>two-persian</key>
      <string>uni06F2</string>
      <key>twodotshorizontalabove-ar</key>
      <string>twodotshorizontalabovear</string>
      <key>twodotshorizontalbelow-ar</key>
      <string>twodotshorizontalbelowar</string>
      <key>twodotsverticalabove-ar</key>
      <string>twodotsverticalabovear</string>
      <key>twodotsverticalbelow-ar</key>
      <string>twodotsverticalbelowar</string>
      <key>u-ar</key>
      <string>uni06C7</string>
      <key>uHamzaabove-ar</key>
      <string>uni0677</string>
      <key>vabove-ar</key>
      <string>uni065A</string>
      <key>vbelow-ar</key>
      <string>vbelowar</string>
      <key>ve-ar</key>
      <string>uni06CB</string>
      <key>veh-ar</key>
      <string>uni06A4</string>
      <key>vinvertedabove-ar</key>
      <string>uni065B</string>
      <key>vinvertedbelow-ar</key>
      <string>vinvertedbelowar</string>
      <key>wasla-ar</key>
      <string>waslaar</string>
      <key>wavyhamzaabove-ar</key>
      <string>wavyhamzaabovear</string>
      <key>wavyhamzabelow-ar</key>
      <string>uni065F</string>
      <key>waw-ar</key>
      <string>uni0648</string>
      <key>waw-ar.fina</key>
      <string>uni0648.fina</string>
      <key>wawDotabove-ar</key>
      <string>uni06CF</string>
      <key>wawHamzaabove-ar</key>
      <string>uni0624</string>
      <key>wawTwodots-ar</key>
      <string>uni06CA</string>
      <key>wawring-ar</key>
      <string>uni06C4</string>
      <key>yeh-ar</key>
      <string>uni064A</string>
      <key>yeh-farsi</key>
      <string>uni06CC</string>
      <key>yehHamzaabove-ar</key>
      <string>uni0626</string>
      <key>yehKashmiri-ar</key>
      <string>uni0620</string>
      <key>yehTail-ar</key>
      <string>uni06CD</string>
      <key>yehThreedotsabove-farsi</key>
      <string>uni063F</string>
      <key>yehThreedotsbelow-ar</key>
      <string>uni06D1</string>
      <key>yehTwodotsabove-farsi</key>
      <string>uni063E</string>
      <key>yehVabove-ar</key>
      <string>uni06CE</string>
      <key>yehVinverted-farsi</key>
      <string>uni063D</string>
      <key>yehbarree-ar</key>
      <string>uni06D2</string>
      <key>yehbarree-ar.fina</key>
      <string>uni06D2.fina</string>
      <key>yehbarreeHamzaabove-ar</key>
      <string>uni06D3</string>
      <key>yu-ar</key>
      <string>uni06C8</string>
      <key>zah-ar</key>
      <string>uni0638</string>
      <key>zain-ar</key>
      <string>uni0632</string>
      <key>zainVinvertedabove-ar</key>
      <string>uni08B2</string>
      <key>zero-ar</key>
      <string>uni0660</string>
      <key>zero-persian</key>
      <string>uni06F0</string>
    </dict>
    <key>public.skipExportGlyphs</key>
    <array>
      <string>_sad-ar.head</string>
      <string>extender</string>
    </array>
  </dict>
</plist>
