<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ar1Dot.above</key>
    <string>ar1D_ot.above.glif</string>
    <key>ar1Dot.below</key>
    <string>ar1D_ot.below.glif</string>
    <key>ar1Dot.middle</key>
    <string>ar1D_ot.middle.glif</string>
    <key>ar2Dot.above</key>
    <string>ar2D_ot.above.glif</string>
    <key>ar2Dot.below</key>
    <string>ar2D_ot.below.glif</string>
    <key>ar2VDot.above</key>
    <string>ar2V_D_ot.above.glif</string>
    <key>ar2VDot.below</key>
    <string>ar2V_D_ot.below.glif</string>
    <key>ar3Dot.above</key>
    <string>ar3D_ot.above.glif</string>
    <key>ar3Dot.below</key>
    <string>ar3D_ot.below.glif</string>
    <key>ar3IDot.above</key>
    <string>ar3I_D_ot.above.glif</string>
    <key>ar3IDot.below</key>
    <string>ar3I_D_ot.below.glif</string>
    <key>ar4Dot.above</key>
    <string>ar4D_ot.above.glif</string>
    <key>ar4Dot.below</key>
    <string>ar4D_ot.below.glif</string>
    <key>arAin.fina</key>
    <string>arA_in.fina.glif</string>
    <key>arAin.init</key>
    <string>arA_in.init.glif</string>
    <key>arAin.isol</key>
    <string>arA_in.isol.glif</string>
    <key>arAin.medi</key>
    <string>arA_in.medi.glif</string>
    <key>arAlef.fina</key>
    <string>arA_lef.fina.glif</string>
    <key>arAlef.fina.1</key>
    <string>arA_lef.fina.1.glif</string>
    <key>arAlef.fina.1.short</key>
    <string>arA_lef.fina.1.short.glif</string>
    <key>arAlef.fina.short</key>
    <string>arA_lef.fina.short.glif</string>
    <key>arAlef.isol</key>
    <string>arA_lef.isol.glif</string>
    <key>arAlef.isol.short</key>
    <string>arA_lef.isol.short.glif</string>
    <key>arBeh.fina</key>
    <string>arB_eh.fina.glif</string>
    <key>arBeh.init</key>
    <string>arB_eh.init.glif</string>
    <key>arBeh.isol</key>
    <string>arB_eh.isol.glif</string>
    <key>arBeh.medi</key>
    <string>arB_eh.medi.glif</string>
    <key>arComma</key>
    <string>arC_omma.glif</string>
    <key>arDal.fina</key>
    <string>arD_al.fina.glif</string>
    <key>arDal.isol</key>
    <string>arD_al.isol.glif</string>
    <key>arDamma.above</key>
    <string>arD_amma.above.glif</string>
    <key>arDash.mark</key>
    <string>arD_ash.mark.glif</string>
    <key>arFeh.fina</key>
    <string>arF_eh.fina.glif</string>
    <key>arFeh.init</key>
    <string>arF_eh.init.glif</string>
    <key>arFeh.isol</key>
    <string>arF_eh.isol.glif</string>
    <key>arFeh.medi</key>
    <string>arF_eh.medi.glif</string>
    <key>arGaf.above</key>
    <string>arG_af.above.glif</string>
    <key>arGaf.fina</key>
    <string>arG_af.fina.glif</string>
    <key>arGaf.isol</key>
    <string>arG_af.isol.glif</string>
    <key>arHah.fina</key>
    <string>arH_ah.fina.glif</string>
    <key>arHah.fina2</key>
    <string>arH_ah.fina2.glif</string>
    <key>arHah.init</key>
    <string>arH_ah.init.glif</string>
    <key>arHah.isol</key>
    <string>arH_ah.isol.glif</string>
    <key>arHah.isol2</key>
    <string>arH_ah.isol2.glif</string>
    <key>arHah.medi</key>
    <string>arH_ah.medi.glif</string>
    <key>arHeh.fina</key>
    <string>arH_eh.fina.glif</string>
    <key>arHeh.fina2</key>
    <string>arH_eh.fina2.glif</string>
    <key>arHeh.fina3</key>
    <string>arH_eh.fina3.glif</string>
    <key>arHeh.init</key>
    <string>arH_eh.init.glif</string>
    <key>arHeh.init2</key>
    <string>arH_eh.init2.glif</string>
    <key>arHeh.isol</key>
    <string>arH_eh.isol.glif</string>
    <key>arHeh.medi</key>
    <string>arH_eh.medi.glif</string>
    <key>arHeh.medi2</key>
    <string>arH_eh.medi2.glif</string>
    <key>arHighHamza.above</key>
    <string>arH_ighH_amza.above.glif</string>
    <key>arISmallV.below</key>
    <string>arI_S_mallV_.below.glif</string>
    <key>arKaf.above</key>
    <string>arK_af.above.glif</string>
    <key>arKaf.fina</key>
    <string>arK_af.fina.glif</string>
    <key>arKaf.init</key>
    <string>arK_af.init.glif</string>
    <key>arKaf.isol</key>
    <string>arK_af.isol.glif</string>
    <key>arKaf.medi</key>
    <string>arK_af.medi.glif</string>
    <key>arLam.fina</key>
    <string>arL_am.fina.glif</string>
    <key>arLam.init</key>
    <string>arL_am.init.glif</string>
    <key>arLam.init.1</key>
    <string>arL_am.init.1.glif</string>
    <key>arLam.isol</key>
    <string>arL_am.isol.glif</string>
    <key>arLam.medi</key>
    <string>arL_am.medi.glif</string>
    <key>arLam.medi.1</key>
    <string>arL_am.medi.1.glif</string>
    <key>arMeem.fina</key>
    <string>arM_eem.fina.glif</string>
    <key>arMeem.init</key>
    <string>arM_eem.init.glif</string>
    <key>arMeem.isol</key>
    <string>arM_eem.isol.glif</string>
    <key>arMeem.medi</key>
    <string>arM_eem.medi.glif</string>
    <key>arNoon.fina</key>
    <string>arN_oon.fina.glif</string>
    <key>arNoon.isol</key>
    <string>arN_oon.isol.glif</string>
    <key>arQaf.fina</key>
    <string>arQ_af.fina.glif</string>
    <key>arQaf.isol</key>
    <string>arQ_af.isol.glif</string>
    <key>arQuestion</key>
    <string>arQ_uestion.glif</string>
    <key>arReh.fina</key>
    <string>arR_eh.fina.glif</string>
    <key>arReh.isol</key>
    <string>arR_eh.isol.glif</string>
    <key>arRing.below</key>
    <string>arR_ing.below.glif</string>
    <key>arSad.above</key>
    <string>arS_ad.above.glif</string>
    <key>arSad.fina</key>
    <string>arS_ad.fina.glif</string>
    <key>arSad.head</key>
    <string>arS_ad.head.glif</string>
    <key>arSad.init</key>
    <string>arS_ad.init.glif</string>
    <key>arSad.isol</key>
    <string>arS_ad.isol.glif</string>
    <key>arSad.medi</key>
    <string>arS_ad.medi.glif</string>
    <key>arSeen.fina</key>
    <string>arS_een.fina.glif</string>
    <key>arSeen.init</key>
    <string>arS_een.init.glif</string>
    <key>arSeen.isol</key>
    <string>arS_een.isol.glif</string>
    <key>arSeen.medi</key>
    <string>arS_een.medi.glif</string>
    <key>arSemicolon</key>
    <string>arS_emicolon.glif</string>
    <key>arSmallV.below</key>
    <string>arS_mallV_.below.glif</string>
    <key>arSwashKaf.fina</key>
    <string>arS_washK_af.fina.glif</string>
    <key>arSwashKaf.init</key>
    <string>arS_washK_af.init.glif</string>
    <key>arSwashKaf.isol</key>
    <string>arS_washK_af.isol.glif</string>
    <key>arSwashKaf.medi</key>
    <string>arS_washK_af.medi.glif</string>
    <key>arTah.above</key>
    <string>arT_ah.above.glif</string>
    <key>arTah.fina</key>
    <string>arT_ah.fina.glif</string>
    <key>arTah.init</key>
    <string>arT_ah.init.glif</string>
    <key>arTah.isol</key>
    <string>arT_ah.isol.glif</string>
    <key>arTah.medi</key>
    <string>arT_ah.medi.glif</string>
    <key>arTail.above</key>
    <string>arT_ail.above.glif</string>
    <key>arWavyHamza.above</key>
    <string>arW_avyH_amza.above.glif</string>
    <key>arWaw.fina</key>
    <string>arW_aw.fina.glif</string>
    <key>arWaw.isol</key>
    <string>arW_aw.isol.glif</string>
    <key>arYeh.fina</key>
    <string>arY_eh.fina.glif</string>
    <key>arYeh.fina2</key>
    <string>arY_eh.fina2.glif</string>
    <key>arYeh.isol</key>
    <string>arY_eh.isol.glif</string>
    <key>arYeh.isol2</key>
    <string>arY_eh.isol2.glif</string>
    <key>braceleft.ar</key>
    <string>braceleft.ar.glif</string>
    <key>braceright.ar</key>
    <string>braceright.ar.glif</string>
    <key>bracketleft.ar</key>
    <string>bracketleft.ar.glif</string>
    <key>bracketright.ar</key>
    <string>bracketright.ar.glif</string>
    <key>extender</key>
    <string>extender.glif</string>
    <key>parenleft.ar</key>
    <string>parenleft.ar.glif</string>
    <key>parenright.ar</key>
    <string>parenright.ar.glif</string>
    <key>uni0620</key>
    <string>uni0620.glif</string>
    <key>uni0621</key>
    <string>uni0621.glif</string>
    <key>uni0622</key>
    <string>uni0622.glif</string>
    <key>uni0623</key>
    <string>uni0623.glif</string>
    <key>uni0624</key>
    <string>uni0624.glif</string>
    <key>uni0625</key>
    <string>uni0625.glif</string>
    <key>uni0626</key>
    <string>uni0626.glif</string>
    <key>uni0627</key>
    <string>uni0627.glif</string>
    <key>uni0628</key>
    <string>uni0628.glif</string>
    <key>uni0629</key>
    <string>uni0629.glif</string>
    <key>uni062A</key>
    <string>uni062A_.glif</string>
    <key>uni062B</key>
    <string>uni062B_.glif</string>
    <key>uni062C</key>
    <string>uni062C_.glif</string>
    <key>uni062D</key>
    <string>uni062D_.glif</string>
    <key>uni062E</key>
    <string>uni062E_.glif</string>
    <key>uni062F</key>
    <string>uni062F_.glif</string>
    <key>uni0630</key>
    <string>uni0630.glif</string>
    <key>uni0631</key>
    <string>uni0631.glif</string>
    <key>uni0632</key>
    <string>uni0632.glif</string>
    <key>uni0633</key>
    <string>uni0633.glif</string>
    <key>uni0634</key>
    <string>uni0634.glif</string>
    <key>uni0635</key>
    <string>uni0635.glif</string>
    <key>uni0636</key>
    <string>uni0636.glif</string>
    <key>uni0637</key>
    <string>uni0637.glif</string>
    <key>uni0638</key>
    <string>uni0638.glif</string>
    <key>uni0639</key>
    <string>uni0639.glif</string>
    <key>uni063A</key>
    <string>uni063A_.glif</string>
    <key>uni063B</key>
    <string>uni063B_.glif</string>
    <key>uni063C</key>
    <string>uni063C_.glif</string>
    <key>uni063D</key>
    <string>uni063D_.glif</string>
    <key>uni063E</key>
    <string>uni063E_.glif</string>
    <key>uni063F</key>
    <string>uni063F_.glif</string>
    <key>uni0640</key>
    <string>uni0640.glif</string>
    <key>uni0641</key>
    <string>uni0641.glif</string>
    <key>uni0642</key>
    <string>uni0642.glif</string>
    <key>uni0643</key>
    <string>uni0643.glif</string>
    <key>uni0644</key>
    <string>uni0644.glif</string>
    <key>uni0645</key>
    <string>uni0645.glif</string>
    <key>uni0646</key>
    <string>uni0646.glif</string>
    <key>uni0647</key>
    <string>uni0647.glif</string>
    <key>uni0648</key>
    <string>uni0648.glif</string>
    <key>uni0649</key>
    <string>uni0649.glif</string>
    <key>uni064A</key>
    <string>uni064A_.glif</string>
    <key>uni064B</key>
    <string>uni064B_.glif</string>
    <key>uni064C</key>
    <string>uni064C_.glif</string>
    <key>uni064D</key>
    <string>uni064D_.glif</string>
    <key>uni064D.alt</key>
    <string>uni064D_.alt.glif</string>
    <key>uni064E</key>
    <string>uni064E_.glif</string>
    <key>uni064F</key>
    <string>uni064F_.glif</string>
    <key>uni0650</key>
    <string>uni0650.glif</string>
    <key>uni0650.alt</key>
    <string>uni0650.alt.glif</string>
    <key>uni0651</key>
    <string>uni0651.glif</string>
    <key>uni0651.alt</key>
    <string>uni0651.alt.glif</string>
    <key>uni0652</key>
    <string>uni0652.glif</string>
    <key>uni0653</key>
    <string>uni0653.glif</string>
    <key>uni0654</key>
    <string>uni0654.glif</string>
    <key>uni0655</key>
    <string>uni0655.glif</string>
    <key>uni0656</key>
    <string>uni0656.glif</string>
    <key>uni0657</key>
    <string>uni0657.glif</string>
    <key>uni0658</key>
    <string>uni0658.glif</string>
    <key>uni0659</key>
    <string>uni0659.glif</string>
    <key>uni065A</key>
    <string>uni065A_.glif</string>
    <key>uni065B</key>
    <string>uni065B_.glif</string>
    <key>uni065C</key>
    <string>uni065C_.glif</string>
    <key>uni065D</key>
    <string>uni065D_.glif</string>
    <key>uni065E</key>
    <string>uni065E_.glif</string>
    <key>uni065F</key>
    <string>uni065F_.glif</string>
    <key>uni0660</key>
    <string>uni0660.glif</string>
    <key>uni0661</key>
    <string>uni0661.glif</string>
    <key>uni0662</key>
    <string>uni0662.glif</string>
    <key>uni0663</key>
    <string>uni0663.glif</string>
    <key>uni0664</key>
    <string>uni0664.glif</string>
    <key>uni0665</key>
    <string>uni0665.glif</string>
    <key>uni0666</key>
    <string>uni0666.glif</string>
    <key>uni0667</key>
    <string>uni0667.glif</string>
    <key>uni0668</key>
    <string>uni0668.glif</string>
    <key>uni0669</key>
    <string>uni0669.glif</string>
    <key>uni066A</key>
    <string>uni066A_.glif</string>
    <key>uni066B</key>
    <string>uni066B_.glif</string>
    <key>uni066C</key>
    <string>uni066C_.glif</string>
    <key>uni066E</key>
    <string>uni066E_.glif</string>
    <key>uni066F</key>
    <string>uni066F_.glif</string>
    <key>uni0670</key>
    <string>uni0670.glif</string>
    <key>uni0671</key>
    <string>uni0671.glif</string>
    <key>uni0672</key>
    <string>uni0672.glif</string>
    <key>uni0673</key>
    <string>uni0673.glif</string>
    <key>uni0674</key>
    <string>uni0674.glif</string>
    <key>uni0675</key>
    <string>uni0675.glif</string>
    <key>uni0676</key>
    <string>uni0676.glif</string>
    <key>uni0677</key>
    <string>uni0677.glif</string>
    <key>uni0678</key>
    <string>uni0678.glif</string>
    <key>uni0679</key>
    <string>uni0679.glif</string>
    <key>uni067A</key>
    <string>uni067A_.glif</string>
    <key>uni067B</key>
    <string>uni067B_.glif</string>
    <key>uni067C</key>
    <string>uni067C_.glif</string>
    <key>uni067D</key>
    <string>uni067D_.glif</string>
    <key>uni067E</key>
    <string>uni067E_.glif</string>
    <key>uni067F</key>
    <string>uni067F_.glif</string>
    <key>uni0680</key>
    <string>uni0680.glif</string>
    <key>uni0681</key>
    <string>uni0681.glif</string>
    <key>uni0682</key>
    <string>uni0682.glif</string>
    <key>uni0683</key>
    <string>uni0683.glif</string>
    <key>uni0684</key>
    <string>uni0684.glif</string>
    <key>uni0685</key>
    <string>uni0685.glif</string>
    <key>uni0686</key>
    <string>uni0686.glif</string>
    <key>uni0687</key>
    <string>uni0687.glif</string>
    <key>uni0688</key>
    <string>uni0688.glif</string>
    <key>uni0689</key>
    <string>uni0689.glif</string>
    <key>uni068A</key>
    <string>uni068A_.glif</string>
    <key>uni068B</key>
    <string>uni068B_.glif</string>
    <key>uni068C</key>
    <string>uni068C_.glif</string>
    <key>uni068D</key>
    <string>uni068D_.glif</string>
    <key>uni068E</key>
    <string>uni068E_.glif</string>
    <key>uni068F</key>
    <string>uni068F_.glif</string>
    <key>uni0690</key>
    <string>uni0690.glif</string>
    <key>uni0691</key>
    <string>uni0691.glif</string>
    <key>uni0692</key>
    <string>uni0692.glif</string>
    <key>uni0693</key>
    <string>uni0693.glif</string>
    <key>uni0694</key>
    <string>uni0694.glif</string>
    <key>uni0695</key>
    <string>uni0695.glif</string>
    <key>uni0696</key>
    <string>uni0696.glif</string>
    <key>uni0697</key>
    <string>uni0697.glif</string>
    <key>uni0698</key>
    <string>uni0698.glif</string>
    <key>uni0699</key>
    <string>uni0699.glif</string>
    <key>uni069A</key>
    <string>uni069A_.glif</string>
    <key>uni069B</key>
    <string>uni069B_.glif</string>
    <key>uni069C</key>
    <string>uni069C_.glif</string>
    <key>uni069D</key>
    <string>uni069D_.glif</string>
    <key>uni069E</key>
    <string>uni069E_.glif</string>
    <key>uni069F</key>
    <string>uni069F_.glif</string>
    <key>uni06A0</key>
    <string>uni06A_0.glif</string>
    <key>uni06A1</key>
    <string>uni06A_1.glif</string>
    <key>uni06A2</key>
    <string>uni06A_2.glif</string>
    <key>uni06A3</key>
    <string>uni06A_3.glif</string>
    <key>uni06A4</key>
    <string>uni06A_4.glif</string>
    <key>uni06A5</key>
    <string>uni06A_5.glif</string>
    <key>uni06A6</key>
    <string>uni06A_6.glif</string>
    <key>uni06A7</key>
    <string>uni06A_7.glif</string>
    <key>uni06A8</key>
    <string>uni06A_8.glif</string>
    <key>uni06A9</key>
    <string>uni06A_9.glif</string>
    <key>uni06AA</key>
    <string>uni06A_A_.glif</string>
    <key>uni06AB</key>
    <string>uni06A_B_.glif</string>
    <key>uni06AC</key>
    <string>uni06A_C_.glif</string>
    <key>uni06AD</key>
    <string>uni06A_D_.glif</string>
    <key>uni06AE</key>
    <string>uni06A_E_.glif</string>
    <key>uni06AF</key>
    <string>uni06A_F_.glif</string>
    <key>uni06B0</key>
    <string>uni06B_0.glif</string>
    <key>uni06B1</key>
    <string>uni06B_1.glif</string>
    <key>uni06B2</key>
    <string>uni06B_2.glif</string>
    <key>uni06B3</key>
    <string>uni06B_3.glif</string>
    <key>uni06B4</key>
    <string>uni06B_4.glif</string>
    <key>uni06B5</key>
    <string>uni06B_5.glif</string>
    <key>uni06B6</key>
    <string>uni06B_6.glif</string>
    <key>uni06B7</key>
    <string>uni06B_7.glif</string>
    <key>uni06B8</key>
    <string>uni06B_8.glif</string>
    <key>uni06B9</key>
    <string>uni06B_9.glif</string>
    <key>uni06BA</key>
    <string>uni06B_A_.glif</string>
    <key>uni06BB</key>
    <string>uni06B_B_.glif</string>
    <key>uni06BC</key>
    <string>uni06B_C_.glif</string>
    <key>uni06BD</key>
    <string>uni06B_D_.glif</string>
    <key>uni06BE</key>
    <string>uni06B_E_.glif</string>
    <key>uni06BF</key>
    <string>uni06B_F_.glif</string>
    <key>uni06C0</key>
    <string>uni06C_0.glif</string>
    <key>uni06C1</key>
    <string>uni06C_1.glif</string>
    <key>uni06C2</key>
    <string>uni06C_2.glif</string>
    <key>uni06C3</key>
    <string>uni06C_3.glif</string>
    <key>uni06C4</key>
    <string>uni06C_4.glif</string>
    <key>uni06C5</key>
    <string>uni06C_5.glif</string>
    <key>uni06C6</key>
    <string>uni06C_6.glif</string>
    <key>uni06C7</key>
    <string>uni06C_7.glif</string>
    <key>uni06C8</key>
    <string>uni06C_8.glif</string>
    <key>uni06C9</key>
    <string>uni06C_9.glif</string>
    <key>uni06CA</key>
    <string>uni06C_A_.glif</string>
    <key>uni06CB</key>
    <string>uni06C_B_.glif</string>
    <key>uni06CC</key>
    <string>uni06C_C_.glif</string>
    <key>uni06CD</key>
    <string>uni06C_D_.glif</string>
    <key>uni06CE</key>
    <string>uni06C_E_.glif</string>
    <key>uni06CF</key>
    <string>uni06C_F_.glif</string>
    <key>uni06D0</key>
    <string>uni06D_0.glif</string>
    <key>uni06D1</key>
    <string>uni06D_1.glif</string>
    <key>uni06D2</key>
    <string>uni06D_2.glif</string>
    <key>uni06D3</key>
    <string>uni06D_3.glif</string>
    <key>uni06D4</key>
    <string>uni06D_4.glif</string>
    <key>uni06D5</key>
    <string>uni06D_5.glif</string>
    <key>uni06EE</key>
    <string>uni06E_E_.glif</string>
    <key>uni06EF</key>
    <string>uni06E_F_.glif</string>
    <key>uni06F0</key>
    <string>uni06F_0.glif</string>
    <key>uni06F1</key>
    <string>uni06F_1.glif</string>
    <key>uni06F2</key>
    <string>uni06F_2.glif</string>
    <key>uni06F3</key>
    <string>uni06F_3.glif</string>
    <key>uni06F4</key>
    <string>uni06F_4.glif</string>
    <key>uni06F4.urd</key>
    <string>uni06F_4.urd.glif</string>
    <key>uni06F5</key>
    <string>uni06F_5.glif</string>
    <key>uni06F6</key>
    <string>uni06F_6.glif</string>
    <key>uni06F7</key>
    <string>uni06F_7.glif</string>
    <key>uni06F7.urd</key>
    <string>uni06F_7.urd.glif</string>
    <key>uni06F8</key>
    <string>uni06F_8.glif</string>
    <key>uni06F9</key>
    <string>uni06F_9.glif</string>
    <key>uni06FA</key>
    <string>uni06F_A_.glif</string>
    <key>uni06FB</key>
    <string>uni06F_B_.glif</string>
    <key>uni06FC</key>
    <string>uni06F_C_.glif</string>
    <key>uni06FF</key>
    <string>uni06F_F_.glif</string>
    <key>uni0751</key>
    <string>uni0751.glif</string>
    <key>uni0752</key>
    <string>uni0752.glif</string>
    <key>uni0753</key>
    <string>uni0753.glif</string>
    <key>uni0754</key>
    <string>uni0754.glif</string>
    <key>uni0755</key>
    <string>uni0755.glif</string>
    <key>uni0756</key>
    <string>uni0756.glif</string>
    <key>uni0757</key>
    <string>uni0757.glif</string>
    <key>uni0758</key>
    <string>uni0758.glif</string>
    <key>uni0759</key>
    <string>uni0759.glif</string>
    <key>uni075A</key>
    <string>uni075A_.glif</string>
    <key>uni075B</key>
    <string>uni075B_.glif</string>
    <key>uni075C</key>
    <string>uni075C_.glif</string>
    <key>uni0762</key>
    <string>uni0762.glif</string>
    <key>uni0763</key>
    <string>uni0763.glif</string>
    <key>uni0764</key>
    <string>uni0764.glif</string>
    <key>uni0767</key>
    <string>uni0767.glif</string>
    <key>uni0768</key>
    <string>uni0768.glif</string>
    <key>uni0769</key>
    <string>uni0769.glif</string>
    <key>uni076A</key>
    <string>uni076A_.glif</string>
    <key>uni076B</key>
    <string>uni076B_.glif</string>
    <key>uni076C</key>
    <string>uni076C_.glif</string>
    <key>uni076D</key>
    <string>uni076D_.glif</string>
    <key>uni0770</key>
    <string>uni0770.glif</string>
    <key>uni0772</key>
    <string>uni0772.glif</string>
    <key>uni077E</key>
    <string>uni077E_.glif</string>
    <key>uni08A0</key>
    <string>uni08A_0.glif</string>
    <key>uni08A1</key>
    <string>uni08A_1.glif</string>
    <key>uni08A2</key>
    <string>uni08A_2.glif</string>
    <key>uni08B2</key>
    <string>uni08B_2.glif</string>
  </dict>
</plist>
