# for MutatorMath
fontMath==0.3.0
ufoLib==2.0.0

# direct dependencies
booleanOperations==0.6.2
cu2qu==1.1.0
defcon==0.2.0
git+https://github.com/typesupply/feaTools.git@8fc73f8ad5523cb6d9e0c8ac966eeb5dab5f7f49
fonttools==3.2.1
git+https://github.com/LettError/MutatorMath.git@9d194c020e6f5b2203dd3bbc92782ec09832304f
ufo2ft==0.2.1
