<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar1Dot.above</key>
	<string>ar1D_ot.above.glif</string>
	<key>ar1Dot.below</key>
	<string>ar1D_ot.below.glif</string>
	<key>ar2Dot.above</key>
	<string>ar2D_ot.above.glif</string>
	<key>ar2Dot.below</key>
	<string>ar2D_ot.below.glif</string>
	<key>ar2VDot.above</key>
	<string>ar2V_D_ot.above.glif</string>
	<key>ar2VDot.below</key>
	<string>ar2V_D_ot.below.glif</string>
	<key>ar3Dot.above</key>
	<string>ar3D_ot.above.glif</string>
	<key>ar3Dot.below</key>
	<string>ar3D_ot.below.glif</string>
	<key>ar3IDot.above</key>
	<string>ar3I_D_ot.above.glif</string>
	<key>ar3IDot.below</key>
	<string>ar3I_D_ot.below.glif</string>
	<key>ar4Dot.above</key>
	<string>ar4D_ot.above.glif</string>
	<key>ar4Dot.below</key>
	<string>ar4D_ot.below.glif</string>
	<key>arAin.fina</key>
	<string>arA_in.fina.glif</string>
	<key>arAin.init</key>
	<string>arA_in.init.glif</string>
	<key>arAin.isol</key>
	<string>arA_in.isol.glif</string>
	<key>arAin.medi</key>
	<string>arA_in.medi.glif</string>
	<key>arAlef.fina</key>
	<string>arA_lef.fina.glif</string>
	<key>arAlef.fina.1</key>
	<string>arA_lef.fina.1.glif</string>
	<key>arAlef.isol</key>
	<string>arA_lef.isol.glif</string>
	<key>arBeh.fina</key>
	<string>arB_eh.fina.glif</string>
	<key>arBeh.init</key>
	<string>arB_eh.init.glif</string>
	<key>arBeh.isol</key>
	<string>arB_eh.isol.glif</string>
	<key>arBeh.medi</key>
	<string>arB_eh.medi.glif</string>
	<key>arDal.fina</key>
	<string>arD_al.fina.glif</string>
	<key>arDal.isol</key>
	<string>arD_al.isol.glif</string>
	<key>arFeh.fina</key>
	<string>arF_eh.fina.glif</string>
	<key>arFeh.init</key>
	<string>arF_eh.init.glif</string>
	<key>arFeh.isol</key>
	<string>arF_eh.isol.glif</string>
	<key>arFeh.medi</key>
	<string>arF_eh.medi.glif</string>
	<key>arGaf.above</key>
	<string>arG_af.above.glif</string>
	<key>arGaf.fina</key>
	<string>arG_af.fina.glif</string>
	<key>arGaf.isol</key>
	<string>arG_af.isol.glif</string>
	<key>arHah.fina</key>
	<string>arH_ah.fina.glif</string>
	<key>arHah.fina2</key>
	<string>arH_ah.fina2.glif</string>
	<key>arHah.init</key>
	<string>arH_ah.init.glif</string>
	<key>arHah.isol</key>
	<string>arH_ah.isol.glif</string>
	<key>arHah.isol2</key>
	<string>arH_ah.isol2.glif</string>
	<key>arHah.medi</key>
	<string>arH_ah.medi.glif</string>
	<key>arHeh.fina</key>
	<string>arH_eh.fina.glif</string>
	<key>arHeh.fina2</key>
	<string>arH_eh.fina2.glif</string>
	<key>arHeh.init</key>
	<string>arH_eh.init.glif</string>
	<key>arHeh.init2</key>
	<string>arH_eh.init2.glif</string>
	<key>arHeh.isol</key>
	<string>arH_eh.isol.glif</string>
	<key>arHeh.medi</key>
	<string>arH_eh.medi.glif</string>
	<key>arHeh.medi2</key>
	<string>arH_eh.medi2.glif</string>
	<key>arKaf.above</key>
	<string>arK_af.above.glif</string>
	<key>arKaf.fina</key>
	<string>arK_af.fina.glif</string>
	<key>arKaf.init</key>
	<string>arK_af.init.glif</string>
	<key>arKaf.isol</key>
	<string>arK_af.isol.glif</string>
	<key>arKaf.medi</key>
	<string>arK_af.medi.glif</string>
	<key>arLam.fina</key>
	<string>arL_am.fina.glif</string>
	<key>arLam.init</key>
	<string>arL_am.init.glif</string>
	<key>arLam.init.1</key>
	<string>arL_am.init.1.glif</string>
	<key>arLam.isol</key>
	<string>arL_am.isol.glif</string>
	<key>arLam.medi</key>
	<string>arL_am.medi.glif</string>
	<key>arLam.medi.1</key>
	<string>arL_am.medi.1.glif</string>
	<key>arMeem.fina</key>
	<string>arM_eem.fina.glif</string>
	<key>arMeem.init</key>
	<string>arM_eem.init.glif</string>
	<key>arMeem.isol</key>
	<string>arM_eem.isol.glif</string>
	<key>arMeem.medi</key>
	<string>arM_eem.medi.glif</string>
	<key>arNoon.fina</key>
	<string>arN_oon.fina.glif</string>
	<key>arNoon.isol</key>
	<string>arN_oon.isol.glif</string>
	<key>arQaf.fina</key>
	<string>arQ_af.fina.glif</string>
	<key>arQaf.isol</key>
	<string>arQ_af.isol.glif</string>
	<key>arReh.fina</key>
	<string>arR_eh.fina.glif</string>
	<key>arReh.isol</key>
	<string>arR_eh.isol.glif</string>
	<key>arSad.above</key>
	<string>arS_ad.above.glif</string>
	<key>arSad.fina</key>
	<string>arS_ad.fina.glif</string>
	<key>arSad.head</key>
	<string>arS_ad.head.glif</string>
	<key>arSad.init</key>
	<string>arS_ad.init.glif</string>
	<key>arSad.isol</key>
	<string>arS_ad.isol.glif</string>
	<key>arSad.medi</key>
	<string>arS_ad.medi.glif</string>
	<key>arSeen.fina</key>
	<string>arS_een.fina.glif</string>
	<key>arSeen.init</key>
	<string>arS_een.init.glif</string>
	<key>arSeen.isol</key>
	<string>arS_een.isol.glif</string>
	<key>arSeen.medi</key>
	<string>arS_een.medi.glif</string>
	<key>arTah.above</key>
	<string>arT_ah.above.glif</string>
	<key>arTah.fina</key>
	<string>arT_ah.fina.glif</string>
	<key>arTah.init</key>
	<string>arT_ah.init.glif</string>
	<key>arTah.isol</key>
	<string>arT_ah.isol.glif</string>
	<key>arTah.medi</key>
	<string>arT_ah.medi.glif</string>
	<key>arWaw.fina</key>
	<string>arW_aw.fina.glif</string>
	<key>arWaw.isol</key>
	<string>arW_aw.isol.glif</string>
	<key>arYeh.fina</key>
	<string>arY_eh.fina.glif</string>
	<key>arYeh.fina.alt1</key>
	<string>arY_eh.fina.alt1.glif</string>
	<key>arYeh.fina.alt2</key>
	<string>arY_eh.fina.alt2.glif</string>
	<key>arYeh.fina2</key>
	<string>arY_eh.fina2.glif</string>
	<key>arYeh.isol</key>
	<string>arY_eh.isol.glif</string>
	<key>arYeh.isol2</key>
	<string>arY_eh.isol2.glif</string>
	<key>braceleft.ar</key>
	<string>braceleft.ar.glif</string>
	<key>braceright.ar</key>
	<string>braceright.ar.glif</string>
	<key>bracketleft.ar</key>
	<string>bracketleft.ar.glif</string>
	<key>bracketright.ar</key>
	<string>bracketright.ar.glif</string>
	<key>extender</key>
	<string>extender.glif</string>
	<key>parenleft.ar</key>
	<string>parenleft.ar.glif</string>
	<key>parenright.ar</key>
	<string>parenright.ar.glif</string>
	<key>uni0621</key>
	<string>uni0621.glif</string>
	<key>uni0640</key>
	<string>uni0640.glif</string>
	<key>uni064B</key>
	<string>uni064B_.glif</string>
	<key>uni064C</key>
	<string>uni064C_.glif</string>
	<key>uni064D</key>
	<string>uni064D_.glif</string>
	<key>uni064E</key>
	<string>uni064E_.glif</string>
	<key>uni064F</key>
	<string>uni064F_.glif</string>
	<key>uni0650</key>
	<string>uni0650.glif</string>
	<key>uni0651</key>
	<string>uni0651.glif</string>
	<key>uni0652</key>
	<string>uni0652.glif</string>
	<key>uni0653</key>
	<string>uni0653.glif</string>
	<key>uni0654</key>
	<string>uni0654.glif</string>
	<key>uni0655</key>
	<string>uni0655.glif</string>
	<key>uni0656</key>
	<string>uni0656.glif</string>
	<key>uni0660</key>
	<string>uni0660.glif</string>
	<key>uni0661</key>
	<string>uni0661.glif</string>
	<key>uni0662</key>
	<string>uni0662.glif</string>
	<key>uni0663</key>
	<string>uni0663.glif</string>
	<key>uni0664</key>
	<string>uni0664.glif</string>
	<key>uni0664.alt</key>
	<string>uni0664.alt.glif</string>
	<key>uni0665</key>
	<string>uni0665.glif</string>
	<key>uni0666</key>
	<string>uni0666.glif</string>
	<key>uni0667</key>
	<string>uni0667.glif</string>
	<key>uni0668</key>
	<string>uni0668.glif</string>
	<key>uni0669</key>
	<string>uni0669.glif</string>
	<key>uni066A</key>
	<string>uni066A_.glif</string>
	<key>uni066B</key>
	<string>uni066B_.glif</string>
	<key>uni0670</key>
	<string>uni0670.glif</string>
	<key>uni06D4</key>
	<string>uni06D_4.glif</string>
</dict>
</plist>
