<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D932C6FB-B267-407E-8BFA-78F29381669F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina.1</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar.init</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar.init</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.init.1</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
