(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adblgrave,
Adieresis,
Adot,
Adotbelow,
Agrave,
AinEgypt,
AlefEgypt,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Blinebelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcedilla,
Dcroat,
Ddotaccent,
Ddotbelow,
Dlinebelow,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
Fdotaccent,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Glottalstop,
Gmacron,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdot,
Hdotbelow,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Istroke,
Itilde,
J,
Jcircumflex,
Jstroke,
K,
Kcommaaccent,
Kdotbelow,
Klinebelow,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Ldotbelow,
Llinebelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nlinebelow,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Odblgrave,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oogonek,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Pdotaccent,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotaccent,
Rdotbelow,
Rlinebelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Tdotaccent,
Tdotbelow,
Tlinebelow,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vdotbelow,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zlinebelow,
a,
aacute,
abreve,
acaron,
acircumflex,
adblgrave,
adieresis,
adot,
adotbelow,
agrave,
ain,
ainEgypt,
alefEgypt,
amacron,
aogonek,
apicaldental,
aring,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
blinebelow,
bstroke,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcedilla,
dcroat,
ddotaccent,
ddotbelow,
dlinebelow,
dotlessjstroke,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
esh,
etilde,
schwa,
ezh,
f,
fdotaccent,
g,
gacute,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
glottalstop,
glottalstopstroke,
gmacron,
gscript,
gstroke,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdot,
hdotbelow,
hlinebelow,
i,
dotlessi,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idotbelow,
igrave,
imacron,
iogonek,
istroke,
itilde,
ij,
j,
dotlessj,
jcircumflex,
jstroke,
k,
kcommaaccent,
kdotbelow,
klinebelow,
l,
lacute,
lbar,
lbardbl,
lcaron,
lcommaaccent,
ldot,
ldotbelow,
lezh,
llinebelow,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nlinebelow,
ntilde,
eng,
o,
oacute,
obar,
obreve,
ocaron,
ocircumflex,
odblgrave,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
oe,
p,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotaccent,
rdotbelow,
rlinebelow,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
germandbls,
longs,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdotaccent,
tdotbelow,
tlinebelow,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vdotbelow,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
ytilde,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zlinebelow,
ordfeminine,
ordmasculine,
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.fina",
"alef-ar.fina.1",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.init",
"hah-ar",
"hah-ar.2",
"hah-ar.fina",
"hah-ar.fina.2",
"hah-ar.medi",
"hah-ar.init",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.medi",
"ain-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"kafDotless-ar",
"kafDotless-ar.fina",
"kaf-ar.medi",
"kaf-ar.init",
"keheh-ar",
"keheh-ar.fina",
"kafswash-ar",
"kafswash-ar.fina",
"kafswash-ar.medi",
"kafswash-ar.init",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.1",
"lam-ar.init",
"lam-ar.init.1",
"meem-ar",
"meem-ar.ss04",
"meem-ar.fina",
"meem-ar.fina.ss04",
"meem-ar.medi",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.fina",
"heh-ar.medi",
"heh-ar.init",
"hehgoal-ar",
"hehgoal-ar.fina",
"hehgoal-ar.medi",
"hehgoal-ar.init",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"waw-ar",
"waw-ar.fina",
"alefMaksura-ar",
"alefMaksura-ar.fina",
"yehbarree-ar",
"yehbarree-ar.fina",
"ae-ar",
"kashida-ar",
"alefMadda-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefWasla-ar",
"alefWavyhamzaabove-ar",
"alefWavyhamzabelow-ar",
"beh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"beeh-ar",
"tehRing-ar",
"tehThreedotsdown-ar",
"peh-ar",
"teheh-ar",
"beheh-ar",
"behThreedotsupabove-ar",
"behThreedotsupbelow-ar",
"tehThreedotsupbelow-ar",
"behTwodotsbelowDotabove-ar",
"behVinvertedbelow-ar",
"behVabove-ar",
"behVbelow-ar",
"behhamzaabove-ar",
"behMeemabove-ar",
"pehMeemabove-ar",
"jeem-ar",
"khah-ar",
"hahHamzaabove-ar",
"hahTwodotsverticalabove-ar",
"nyeh-ar",
"dyeh-ar",
"hahThreedotsabove-ar",
"tcheh-ar",
"tcheheh-ar",
"tchehDotabove-ar",
"hahTwodotshorizontalabove-ar",
"hahThreedotsupbelow-ar",
"hahTahabove-ar",
"jeemTwodotsabove-ar",
"thal-ar",
"ddal-ar",
"dalDotbelow-ar",
"dalDotbelowTah-ar",
"dahal-ar",
"ddahal-ar",
"dul-ar",
"dalThreedotsdown-ar",
"dalFourdots-ar",
"dalVinvertedabove-ar",
"dalTwodotsverticalbelowTah-ar",
"dalVinvertedbelow-ar",
"zain-ar",
"rreh-ar",
"dalRing-ar",
"rehv-ar",
"rehRing-ar",
"rehDotbelow-ar",
"rehVbelow-ar",
"rehDotbelowdotabove-ar",
"rehTwodots-ar",
"jeh-ar",
"rehFourdots-ar",
"rehVinvertedabove-ar",
"rehStroke-ar",
"rehTwodotsverticalabove-ar",
"rehHamzaabove-ar",
"zainVinvertedabove-ar",
"sheen-ar",
"seenDotbelowDotabove-ar",
"seenThreedotsbelow-ar",
"sheenThreedotsbelow-ar",
"sheenDotbelow-ar",
"seenFourdotsabove-ar",
"seenTwodotsverticalabove-ar",
"seenTahTwodotshorizontalabove-ar",
"seenVinvertedabove-ar",
"dad-ar",
"sadTwodotsbelow-ar",
"sadThreedots-ar",
"dadDotbelow-ar",
"zah-ar",
"tahThreedots-ar",
"ghain-ar",
"ainThreedots-ar",
"ghainDotbelow-ar",
"feh-ar",
"fehDotmovedbelow-ar",
"fehDotbelow-ar",
"veh-ar",
"fehThreedotsbelow-ar",
"peheh-ar",
"qaf-ar",
"qafDotabove-ar",
"qafThreedotsabove-ar",
"kehehTwodotshorizontalabove-ar",
"kehehThreedotsbelow-ar",
"kaf-ar",
"kafRing-ar",
"kafDotabove-ar",
"ng-ar",
"kafThreedotsbelow-ar",
"gaf-ar",
"gafRing-ar",
"ngoeh-ar",
"gafTwodotsbelow-ar",
"gueh-ar",
"gafThreedots-ar",
"kehehDotabove-ar",
"kehehThreedotsabove-ar",
"kehehThreedotsupbelow-ar",
"lamVabove-ar",
"lamDotabove-ar",
"lamThreedotsabove-ar",
"lamThreedotsbelow-ar",
"lamBar-ar",
"noon-ar",
"noonDotbelow-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"noonTwodotsbelow-ar",
"noonTahabove-ar",
"noonVabove-ar",
"tehMarbuta-ar",
"hehHamzaabove-ar",
"hehgoalHamzaabove-ar",
"tehMarbutagoal-ar",
"hehVinvertedabove-ar",
"wawHamzaabove-ar",
"wawring-ar",
"kirghizoe-ar",
"oe-ar",
"u-ar",
"yu-ar",
"kirghizyu-ar",
"wawTwodots-ar",
"ve-ar",
"wawDotabove-ar",
"yehKashmiri-ar",
"yehHamzaabove-ar",
"yehFarsiVinverted-ar",
"yehFarsiTwodotsabove-ar",
"yehFarsiThreedotsabove-ar",
"yeh-ar",
"yehFarsi-ar",
"yehTail-ar",
"yehVabove-ar",
"e-ar",
"yehThreedotsbelow-ar",
"yehbarreeHamzaabove-ar",
"highhamzaAlef-ar",
"highhamzaWaw-ar",
"uHamzaabove-ar",
"highhamzaYeh-ar",
"wawSmall-ar",
"yehSmall-ar",
"decimalseparator-ar",
"thousandseparator-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"fourFarsi-ar",
"fourFarsi-ar.urdu",
"five-ar",
"fiveFarsi-ar",
"six-ar",
"sixFarsi-ar",
"seven-ar",
"sevenFarsi-ar.urdu",
"eight-ar",
"nine-ar",
"zero-ar.dnom",
"one-ar.dnom",
"two-ar.dnom",
"three-ar.dnom",
"four-ar.dnom",
"fourFarsi-ar.dnom",
"fourFarsi-ar.urdu.dnom",
"five-ar.dnom",
"fiveFarsi-ar.dnom",
"six-ar.dnom",
"sixFarsi-ar.dnom",
"seven-ar.dnom",
"sevenFarsi-ar.urdu.dnom",
"eight-ar.dnom",
"nine-ar.dnom",
"zero-ar.numr",
"one-ar.numr",
"two-ar.numr",
"three-ar.numr",
"four-ar.numr",
"fourFarsi-ar.numr",
"fourFarsi-ar.urdu.numr",
"five-ar.numr",
"fiveFarsi-ar.numr",
"six-ar.numr",
"sixFarsi-ar.numr",
"seven-ar.numr",
"sevenFarsi-ar.urdu.numr",
"eight-ar.numr",
"nine-ar.numr",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
space,
figurespace,
thinspace,
hairspace,
ZWS,
ZWNBS,
NNBS,
.notdef,
"hizb-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
"endofayah-ar",
bracketleftwhite,
bracketrightwhite,
bracketangleleft,
bracketangleright,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
bullettriangle,
numbersign,
overline,
slash,
backslash,
endash,
emdash,
figuredash,
horizontalbar,
hyphen,
threeemdash,
twoemdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
primereversed,
quotedbl,
quotesingle,
"sajdah-ar",
"percent-ar",
attribution,
at,
ampersand,
paragraph,
section,
copyright,
registered,
soundcopyright,
trademark,
careof,
degree,
prime,
dblprime,
bar,
brokenbar,
dagger,
daggerdbl,
control,
copyleft,
creativecommons,
house,
delete,
deleteright,
option,
command,
publicdomain,
servicemark,
norights,
sharealike,
noncommercial,
Euro,
cent,
dollar,
sterling,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
asciitilde,
asciicircum,
percent,
ratio,
circledotted,
"ainabove-ar",
"tahabove-ar",
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"twodotshorizontalcenter-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"fourdotsabove-ar",
"fourdotsbelow-ar",
"stroke-ar",
"ringbelow-ar",
"wasla-ar",
"wavyhamzaabove-ar",
"miniKeheh-ar",
"gafsarkashabove-ar",
"wavyhamzabelow-ar",
"ring-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"damma-ar.alt",
"kasra-ar",
"shadda-ar",
"shadda-ar.ss03",
"sukun-ar",
"madda-ar",
"noonghunnaabove-ar",
"dammainverted-ar",
"fathaHorizont-ar",
"vabove-ar",
"vbelow-ar",
"vinvertedabove-ar",
"vinvertedbelow-ar",
"dotvowelbelow-ar",
"dammareversed-ar",
"fathatwodots-ar",
"sadLamAlefMaksuraabove-ar",
"qafLamAlefMaksuraabove-ar",
"meemabove-ar",
"meemStopabove-ar",
"lamAlefabove-ar",
"jeemabove-ar",
"threedotsabove-ar",
"seenabove-ar",
"sukunround-ar",
"sukunoval-ar",
"hahabove-ar",
"seenbelow-ar",
"yehabove-ar",
"noonabove-ar",
"rhombusStopbelow-ar",
"rhombusStopabove-ar",
"dotStopabove-ar",
"meembelow-ar",
"openfathatan-ar",
"opendammatan-ar",
"openkasratan-ar",
"highwaw-ar",
"qafabove-ar",
"sadabove-ar",
dieresiscmb,
dotaccentcmb,
gravecmb,
acutecmb,
hungarumlautcmb,
circumflexcmb,
caroncmb,
brevecmb,
ringcmb,
tildecmb,
macroncmb,
overlinecmb,
verticallineabovecmb,
dblgravecmb,
candrabinducmb,
commaturnedabovecmb,
commaabovecmb,
commaaboverightcmb,
dotbelowcmb,
commabelowcmb,
cedillacmb,
ogonekcmb,
verticallinebelowcmb,
brevebelowcmb,
tildebelowcmb,
macronbelowcmb,
slashshortcmb,
slashlongcmb,
variacmb,
CGJ,
dotaboverightcmb,
macrondoublecmb,
macrondoublebelowcmb,
"tail-ar",
caroncmb.a,
dieresiscmb.cap,
dotaccentcmb.cap,
gravecmb.cap,
acutecmb.cap,
hungarumlautcmb.cap,
circumflexcmb.cap,
caroncmb.cap,
brevecmb.cap,
ringcmb.cap,
tildecmb.cap,
macroncmb.cap,
dblgravecmb.cap,
cedillacmb.cap,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
commareversedmod,
commaturnedmod,
glottalstopmod,
glottalstopreversedmod,
ringhalfleftmod,
ringhalfrightmod,
"_sad-ar.head",
extender
)