<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_sad-ar.head</key>
    <string>_sad-ar.head.glif</string>
    <key>ae-ar</key>
    <string>ae-ar.glif</string>
    <key>ain-ar</key>
    <string>ain-ar.glif</string>
    <key>ain-ar.fina</key>
    <string>ain-ar.fina.glif</string>
    <key>ain-ar.init</key>
    <string>ain-ar.init.glif</string>
    <key>ain-ar.medi</key>
    <string>ain-ar.medi.glif</string>
    <key>ainThreedots-ar</key>
    <string>ainT_hreedots-ar.glif</string>
    <key>alef-ar</key>
    <string>alef-ar.glif</string>
    <key>alef-ar.fina</key>
    <string>alef-ar.fina.glif</string>
    <key>alef-ar.fina.1</key>
    <string>alef-ar.fina.1.glif</string>
    <key>alef-ar.fina.1.short</key>
    <string>alef-ar.fina.1.short.glif</string>
    <key>alef-ar.fina.short</key>
    <string>alef-ar.fina.short.glif</string>
    <key>alef-ar.short</key>
    <string>alef-ar.short.glif</string>
    <key>alefHamzaabove-ar</key>
    <string>alefH_amzaabove-ar.glif</string>
    <key>alefHamzabelow-ar</key>
    <string>alefH_amzabelow-ar.glif</string>
    <key>alefMadda-ar</key>
    <string>alefM_adda-ar.glif</string>
    <key>alefMaksura-ar</key>
    <string>alefM_aksura-ar.glif</string>
    <key>alefMaksura-ar.fina</key>
    <string>alefM_aksura-ar.fina.glif</string>
    <key>alefWasla-ar</key>
    <string>alefW_asla-ar.glif</string>
    <key>alefWavyhamzaabove-ar</key>
    <string>alefW_avyhamzaabove-ar.glif</string>
    <key>alefWavyhamzabelow-ar</key>
    <string>alefW_avyhamzabelow-ar.glif</string>
    <key>alefabove-ar</key>
    <string>alefabove-ar.glif</string>
    <key>alefbelow-ar</key>
    <string>alefbelow-ar.glif</string>
    <key>arHighHamza.above</key>
    <string>arH_ighH_amza.above.glif</string>
    <key>beeh-ar</key>
    <string>beeh-ar.glif</string>
    <key>beh-ar</key>
    <string>beh-ar.glif</string>
    <key>behDotless-ar</key>
    <string>behD_otless-ar.glif</string>
    <key>behDotless-ar.fina</key>
    <string>behD_otless-ar.fina.glif</string>
    <key>behDotless-ar.init</key>
    <string>behD_otless-ar.init.glif</string>
    <key>behDotless-ar.medi</key>
    <string>behD_otless-ar.medi.glif</string>
    <key>behThreedotsupabove-ar</key>
    <string>behT_hreedotsupabove-ar.glif</string>
    <key>behThreedotsupbelow-ar</key>
    <string>behT_hreedotsupbelow-ar.glif</string>
    <key>behTwodotsbelowDotabove-ar</key>
    <string>behT_wodotsbelowD_otabove-ar.glif</string>
    <key>behVabove-ar</key>
    <string>behV_above-ar.glif</string>
    <key>behVbelow-ar</key>
    <string>behV_below-ar.glif</string>
    <key>behVinvertedbelow-ar</key>
    <string>behV_invertedbelow-ar.glif</string>
    <key>beheh-ar</key>
    <string>beheh-ar.glif</string>
    <key>behhamzaabove-ar</key>
    <string>behhamzaabove-ar.glif</string>
    <key>braceleft.ar</key>
    <string>braceleft.ar.glif</string>
    <key>braceright.ar</key>
    <string>braceright.ar.glif</string>
    <key>bracketleft.ar</key>
    <string>bracketleft.ar.glif</string>
    <key>bracketright.ar</key>
    <string>bracketright.ar.glif</string>
    <key>comma-ar</key>
    <string>comma-ar.glif</string>
    <key>dad-ar</key>
    <string>dad-ar.glif</string>
    <key>dadDotbelow-ar</key>
    <string>dadD_otbelow-ar.glif</string>
    <key>dahal-ar</key>
    <string>dahal-ar.glif</string>
    <key>dal-ar</key>
    <string>dal-ar.glif</string>
    <key>dal-ar.fina</key>
    <string>dal-ar.fina.glif</string>
    <key>dalDotbelow-ar</key>
    <string>dalD_otbelow-ar.glif</string>
    <key>dalDotbelowTah-ar</key>
    <string>dalD_otbelowT_ah-ar.glif</string>
    <key>dalFourdots-ar</key>
    <string>dalF_ourdots-ar.glif</string>
    <key>dalRing-ar</key>
    <string>dalR_ing-ar.glif</string>
    <key>dalThreedotsdown-ar</key>
    <string>dalT_hreedotsdown-ar.glif</string>
    <key>dalTwodotsverticalbelowTah-ar</key>
    <string>dalT_wodotsverticalbelowT_ah-ar.glif</string>
    <key>dalVinvertedabove-ar</key>
    <string>dalV_invertedabove-ar.glif</string>
    <key>dalVinvertedbelow-ar</key>
    <string>dalV_invertedbelow-ar.glif</string>
    <key>damma-ar</key>
    <string>damma-ar.glif</string>
    <key>damma-ar.alt</key>
    <string>damma-ar.alt.glif</string>
    <key>dammainverted-ar</key>
    <string>dammainverted-ar.glif</string>
    <key>dammareversed-ar</key>
    <string>dammareversed-ar.glif</string>
    <key>dammatan-ar</key>
    <string>dammatan-ar.glif</string>
    <key>ddahal-ar</key>
    <string>ddahal-ar.glif</string>
    <key>ddal-ar</key>
    <string>ddal-ar.glif</string>
    <key>decimalseparator-ar</key>
    <string>decimalseparator-ar.glif</string>
    <key>dotabove-ar</key>
    <string>dotabove-ar.glif</string>
    <key>dotbelow-ar</key>
    <string>dotbelow-ar.glif</string>
    <key>dotcenter-ar</key>
    <string>dotcenter-ar.glif</string>
    <key>dotvowelbelow-ar</key>
    <string>dotvowelbelow-ar.glif</string>
    <key>dul-ar</key>
    <string>dul-ar.glif</string>
    <key>dyeh-ar</key>
    <string>dyeh-ar.glif</string>
    <key>e-ar</key>
    <string>e-ar.glif</string>
    <key>eight-ar</key>
    <string>eight-ar.glif</string>
    <key>eight-persian</key>
    <string>eight-persian.glif</string>
    <key>extender</key>
    <string>extender.glif</string>
    <key>fatha-ar</key>
    <string>fatha-ar.glif</string>
    <key>fathaHorizont-ar</key>
    <string>fathaH_orizont-ar.glif</string>
    <key>fathatan-ar</key>
    <string>fathatan-ar.glif</string>
    <key>fathatwodots-ar</key>
    <string>fathatwodots-ar.glif</string>
    <key>feh-ar</key>
    <string>feh-ar.glif</string>
    <key>fehDotbelow-ar</key>
    <string>fehD_otbelow-ar.glif</string>
    <key>fehDotless-ar</key>
    <string>fehD_otless-ar.glif</string>
    <key>fehDotless-ar.fina</key>
    <string>fehD_otless-ar.fina.glif</string>
    <key>fehDotless-ar.init</key>
    <string>fehD_otless-ar.init.glif</string>
    <key>fehDotless-ar.medi</key>
    <string>fehD_otless-ar.medi.glif</string>
    <key>fehDotmovedbelow-ar</key>
    <string>fehD_otmovedbelow-ar.glif</string>
    <key>fehThreedotsbelow-ar</key>
    <string>fehT_hreedotsbelow-ar.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>five-persian</key>
    <string>five-persian.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>four-persian</key>
    <string>four-persian.glif</string>
    <key>four-persian.urdu</key>
    <string>four-persian.urdu.glif</string>
    <key>fourdotsabove-ar</key>
    <string>fourdotsabove-ar.glif</string>
    <key>fourdotsbelow-ar</key>
    <string>fourdotsbelow-ar.glif</string>
    <key>fullstop-ar</key>
    <string>fullstop-ar.glif</string>
    <key>gaf-ar</key>
    <string>gaf-ar.glif</string>
    <key>gafRing-ar</key>
    <string>gafR_ing-ar.glif</string>
    <key>gafThreedots-ar</key>
    <string>gafT_hreedots-ar.glif</string>
    <key>gafTwodotsbelow-ar</key>
    <string>gafT_wodotsbelow-ar.glif</string>
    <key>gafsarkashabove-ar</key>
    <string>gafsarkashabove-ar.glif</string>
    <key>ghain-ar</key>
    <string>ghain-ar.glif</string>
    <key>ghainDotbelow-ar</key>
    <string>ghainD_otbelow-ar.glif</string>
    <key>gueh-ar</key>
    <string>gueh-ar.glif</string>
    <key>hah-ar</key>
    <string>hah-ar.glif</string>
    <key>hah-ar.2</key>
    <string>hah-ar.2.glif</string>
    <key>hah-ar.fina</key>
    <string>hah-ar.fina.glif</string>
    <key>hah-ar.fina2</key>
    <string>hah-ar.fina2.glif</string>
    <key>hah-ar.init</key>
    <string>hah-ar.init.glif</string>
    <key>hah-ar.medi</key>
    <string>hah-ar.medi.glif</string>
    <key>hahHamzaabove-ar</key>
    <string>hahH_amzaabove-ar.glif</string>
    <key>hahTahabove-ar</key>
    <string>hahT_ahabove-ar.glif</string>
    <key>hahThreedotsabove-ar</key>
    <string>hahT_hreedotsabove-ar.glif</string>
    <key>hahThreedotsupbelow-ar</key>
    <string>hahT_hreedotsupbelow-ar.glif</string>
    <key>hahTwodotshorizontalabove-ar</key>
    <string>hahT_wodotshorizontalabove-ar.glif</string>
    <key>hahTwodotsverticalabove-ar</key>
    <string>hahT_wodotsverticalabove-ar.glif</string>
    <key>hamza-ar</key>
    <string>hamza-ar.glif</string>
    <key>hamzaabove-ar</key>
    <string>hamzaabove-ar.glif</string>
    <key>hamzabelow-ar</key>
    <string>hamzabelow-ar.glif</string>
    <key>heh-ar</key>
    <string>heh-ar.glif</string>
    <key>heh-ar.fina</key>
    <string>heh-ar.fina.glif</string>
    <key>heh-ar.init</key>
    <string>heh-ar.init.glif</string>
    <key>heh-ar.medi</key>
    <string>heh-ar.medi.glif</string>
    <key>hehDoachashmee-ar</key>
    <string>hehD_oachashmee-ar.glif</string>
    <key>hehDoachashmee-ar.fina</key>
    <string>hehD_oachashmee-ar.fina.glif</string>
    <key>hehHamzaabove-ar</key>
    <string>hehH_amzaabove-ar.glif</string>
    <key>hehVinvertedabove-ar</key>
    <string>hehV_invertedabove-ar.glif</string>
    <key>hehgoal-ar</key>
    <string>hehgoal-ar.glif</string>
    <key>hehgoal-ar.fina</key>
    <string>hehgoal-ar.fina.glif</string>
    <key>hehgoal-ar.init</key>
    <string>hehgoal-ar.init.glif</string>
    <key>hehgoal-ar.medi</key>
    <string>hehgoal-ar.medi.glif</string>
    <key>hehgoalHamzaabove-ar</key>
    <string>hehgoalH_amzaabove-ar.glif</string>
    <key>highhamza-ar</key>
    <string>highhamza-ar.glif</string>
    <key>highhamzaAlef-ar</key>
    <string>highhamzaA_lef-ar.glif</string>
    <key>highhamzaWaw-ar</key>
    <string>highhamzaW_aw-ar.glif</string>
    <key>highhamzaYeh-ar</key>
    <string>highhamzaY_eh-ar.glif</string>
    <key>jeem-ar</key>
    <string>jeem-ar.glif</string>
    <key>jeemTwodotsabove-ar</key>
    <string>jeemT_wodotsabove-ar.glif</string>
    <key>jeh-ar</key>
    <string>jeh-ar.glif</string>
    <key>kaf-ar</key>
    <string>kaf-ar.glif</string>
    <key>kaf-ar.init</key>
    <string>kaf-ar.init.glif</string>
    <key>kaf-ar.medi</key>
    <string>kaf-ar.medi.glif</string>
    <key>kafDotabove-ar</key>
    <string>kafD_otabove-ar.glif</string>
    <key>kafDotless-ar</key>
    <string>kafD_otless-ar.glif</string>
    <key>kafDotless-ar.fina</key>
    <string>kafD_otless-ar.fina.glif</string>
    <key>kafRing-ar</key>
    <string>kafR_ing-ar.glif</string>
    <key>kafThreedotsbelow-ar</key>
    <string>kafT_hreedotsbelow-ar.glif</string>
    <key>kafswash-ar</key>
    <string>kafswash-ar.glif</string>
    <key>kafswash-ar.fina</key>
    <string>kafswash-ar.fina.glif</string>
    <key>kafswash-ar.init</key>
    <string>kafswash-ar.init.glif</string>
    <key>kafswash-ar.medi</key>
    <string>kafswash-ar.medi.glif</string>
    <key>kashida-ar</key>
    <string>kashida-ar.glif</string>
    <key>kasra-ar</key>
    <string>kasra-ar.glif</string>
    <key>kasra-ar.alt</key>
    <string>kasra-ar.alt.glif</string>
    <key>kasratan-ar</key>
    <string>kasratan-ar.glif</string>
    <key>kasratan-ar.alt</key>
    <string>kasratan-ar.alt.glif</string>
    <key>keheh-ar</key>
    <string>keheh-ar.glif</string>
    <key>keheh-ar.fina</key>
    <string>keheh-ar.fina.glif</string>
    <key>kehehDotabove-ar</key>
    <string>kehehD_otabove-ar.glif</string>
    <key>kehehThreedotsabove-ar</key>
    <string>kehehT_hreedotsabove-ar.glif</string>
    <key>kehehThreedotsbelow-ar</key>
    <string>kehehT_hreedotsbelow-ar.glif</string>
    <key>kehehThreedotsupbelow-ar</key>
    <string>kehehT_hreedotsupbelow-ar.glif</string>
    <key>kehehTwodotshorizontalabove-ar</key>
    <string>kehehT_wodotshorizontalabove-ar.glif</string>
    <key>khah-ar</key>
    <string>khah-ar.glif</string>
    <key>kirghizoe-ar</key>
    <string>kirghizoe-ar.glif</string>
    <key>kirghizyu-ar</key>
    <string>kirghizyu-ar.glif</string>
    <key>lam-ar</key>
    <string>lam-ar.glif</string>
    <key>lam-ar.fina</key>
    <string>lam-ar.fina.glif</string>
    <key>lam-ar.init</key>
    <string>lam-ar.init.glif</string>
    <key>lam-ar.init.1</key>
    <string>lam-ar.init.1.glif</string>
    <key>lam-ar.medi</key>
    <string>lam-ar.medi.glif</string>
    <key>lam-ar.medi.1</key>
    <string>lam-ar.medi.1.glif</string>
    <key>lamBar-ar</key>
    <string>lamB_ar-ar.glif</string>
    <key>lamDotabove-ar</key>
    <string>lamD_otabove-ar.glif</string>
    <key>lamThreedotsabove-ar</key>
    <string>lamT_hreedotsabove-ar.glif</string>
    <key>lamThreedotsbelow-ar</key>
    <string>lamT_hreedotsbelow-ar.glif</string>
    <key>lamVabove-ar</key>
    <string>lamV_above-ar.glif</string>
    <key>madda-ar</key>
    <string>madda-ar.glif</string>
    <key>meem-ar</key>
    <string>meem-ar.glif</string>
    <key>meem-ar.fina</key>
    <string>meem-ar.fina.glif</string>
    <key>meem-ar.init</key>
    <string>meem-ar.init.glif</string>
    <key>meem-ar.medi</key>
    <string>meem-ar.medi.glif</string>
    <key>miniKeheh-ar</key>
    <string>miniK_eheh-ar.glif</string>
    <key>ng-ar</key>
    <string>ng-ar.glif</string>
    <key>ngoeh-ar</key>
    <string>ngoeh-ar.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>nine-persian</key>
    <string>nine-persian.glif</string>
    <key>noon-ar</key>
    <string>noon-ar.glif</string>
    <key>noonDotbelow-ar</key>
    <string>noonD_otbelow-ar.glif</string>
    <key>noonRing-ar</key>
    <string>noonR_ing-ar.glif</string>
    <key>noonTahabove-ar</key>
    <string>noonT_ahabove-ar.glif</string>
    <key>noonThreedotsabove-ar</key>
    <string>noonT_hreedotsabove-ar.glif</string>
    <key>noonTwodotsbelow-ar</key>
    <string>noonT_wodotsbelow-ar.glif</string>
    <key>noonVabove-ar</key>
    <string>noonV_above-ar.glif</string>
    <key>noonghunna-ar</key>
    <string>noonghunna-ar.glif</string>
    <key>noonghunna-ar.fina</key>
    <string>noonghunna-ar.fina.glif</string>
    <key>noonghunnaabove-ar</key>
    <string>noonghunnaabove-ar.glif</string>
    <key>nyeh-ar</key>
    <string>nyeh-ar.glif</string>
    <key>oe-ar</key>
    <string>oe-ar.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>one-persian</key>
    <string>one-persian.glif</string>
    <key>parenleft.ar</key>
    <string>parenleft.ar.glif</string>
    <key>parenright.ar</key>
    <string>parenright.ar.glif</string>
    <key>peh-ar</key>
    <string>peh-ar.glif</string>
    <key>peheh-ar</key>
    <string>peheh-ar.glif</string>
    <key>percent-ar</key>
    <string>percent-ar.glif</string>
    <key>qaf-ar</key>
    <string>qaf-ar.glif</string>
    <key>qafDotabove-ar</key>
    <string>qafD_otabove-ar.glif</string>
    <key>qafDotless-ar</key>
    <string>qafD_otless-ar.glif</string>
    <key>qafDotless-ar.fina</key>
    <string>qafD_otless-ar.fina.glif</string>
    <key>qafThreedotsabove-ar</key>
    <string>qafT_hreedotsabove-ar.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>reh-ar</key>
    <string>reh-ar.glif</string>
    <key>reh-ar.fina</key>
    <string>reh-ar.fina.glif</string>
    <key>rehDotbelow-ar</key>
    <string>rehD_otbelow-ar.glif</string>
    <key>rehDotbelowdotabove-ar</key>
    <string>rehD_otbelowdotabove-ar.glif</string>
    <key>rehFourdots-ar</key>
    <string>rehF_ourdots-ar.glif</string>
    <key>rehHamzaabove-ar</key>
    <string>rehH_amzaabove-ar.glif</string>
    <key>rehRing-ar</key>
    <string>rehR_ing-ar.glif</string>
    <key>rehStroke-ar</key>
    <string>rehS_troke-ar.glif</string>
    <key>rehTwodots-ar</key>
    <string>rehT_wodots-ar.glif</string>
    <key>rehTwodotsverticalabove-ar</key>
    <string>rehT_wodotsverticalabove-ar.glif</string>
    <key>rehVbelow-ar</key>
    <string>rehV_below-ar.glif</string>
    <key>rehVinvertedabove-ar</key>
    <string>rehV_invertedabove-ar.glif</string>
    <key>rehv-ar</key>
    <string>rehv-ar.glif</string>
    <key>ring-ar</key>
    <string>ring-ar.glif</string>
    <key>ringbelow-ar</key>
    <string>ringbelow-ar.glif</string>
    <key>rnoon-ar</key>
    <string>rnoon-ar.glif</string>
    <key>rreh-ar</key>
    <string>rreh-ar.glif</string>
    <key>sad-ar</key>
    <string>sad-ar.glif</string>
    <key>sad-ar.fina</key>
    <string>sad-ar.fina.glif</string>
    <key>sad-ar.init</key>
    <string>sad-ar.init.glif</string>
    <key>sad-ar.medi</key>
    <string>sad-ar.medi.glif</string>
    <key>sadThreedots-ar</key>
    <string>sadT_hreedots-ar.glif</string>
    <key>sadTwodotsbelow-ar</key>
    <string>sadT_wodotsbelow-ar.glif</string>
    <key>seen-ar</key>
    <string>seen-ar.glif</string>
    <key>seen-ar.fina</key>
    <string>seen-ar.fina.glif</string>
    <key>seen-ar.init</key>
    <string>seen-ar.init.glif</string>
    <key>seen-ar.medi</key>
    <string>seen-ar.medi.glif</string>
    <key>seenDotbelowDotabove-ar</key>
    <string>seenD_otbelowD_otabove-ar.glif</string>
    <key>seenFourdotsabove-ar</key>
    <string>seenF_ourdotsabove-ar.glif</string>
    <key>seenTahTwodotshorizontalabove-ar</key>
    <string>seenT_ahT_wodotshorizontalabove-ar.glif</string>
    <key>seenThreedotsbelow-ar</key>
    <string>seenT_hreedotsbelow-ar.glif</string>
    <key>seenTwodotsverticalabove-ar</key>
    <string>seenT_wodotsverticalabove-ar.glif</string>
    <key>seenVinvertedabove-ar</key>
    <string>seenV_invertedabove-ar.glif</string>
    <key>semicolon-ar</key>
    <string>semicolon-ar.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>seven-persian</key>
    <string>seven-persian.glif</string>
    <key>seven-persian.urdu</key>
    <string>seven-persian.urdu.glif</string>
    <key>shadda-ar</key>
    <string>shadda-ar.glif</string>
    <key>shadda-ar.alt</key>
    <string>shadda-ar.alt.glif</string>
    <key>sheen-ar</key>
    <string>sheen-ar.glif</string>
    <key>sheenDotbelow-ar</key>
    <string>sheenD_otbelow-ar.glif</string>
    <key>sheenThreedotsbelow-ar</key>
    <string>sheenT_hreedotsbelow-ar.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>six-persian</key>
    <string>six-persian.glif</string>
    <key>stroke-ar</key>
    <string>stroke-ar.glif</string>
    <key>sukun-ar</key>
    <string>sukun-ar.glif</string>
    <key>tah-ar</key>
    <string>tah-ar.glif</string>
    <key>tah-ar.fina</key>
    <string>tah-ar.fina.glif</string>
    <key>tah-ar.init</key>
    <string>tah-ar.init.glif</string>
    <key>tah-ar.medi</key>
    <string>tah-ar.medi.glif</string>
    <key>tahThreedots-ar</key>
    <string>tahT_hreedots-ar.glif</string>
    <key>tahabove-ar</key>
    <string>tahabove-ar.glif</string>
    <key>tail-ar</key>
    <string>tail-ar.glif</string>
    <key>tcheh-ar</key>
    <string>tcheh-ar.glif</string>
    <key>tchehDotabove-ar</key>
    <string>tchehD_otabove-ar.glif</string>
    <key>tcheheh-ar</key>
    <string>tcheheh-ar.glif</string>
    <key>teh-ar</key>
    <string>teh-ar.glif</string>
    <key>tehMarbuta-ar</key>
    <string>tehM_arbuta-ar.glif</string>
    <key>tehMarbutagoal-ar</key>
    <string>tehM_arbutagoal-ar.glif</string>
    <key>tehRing-ar</key>
    <string>tehR_ing-ar.glif</string>
    <key>tehThreedotsdown-ar</key>
    <string>tehT_hreedotsdown-ar.glif</string>
    <key>tehThreedotsupbelow-ar</key>
    <string>tehT_hreedotsupbelow-ar.glif</string>
    <key>teheh-ar</key>
    <string>teheh-ar.glif</string>
    <key>thal-ar</key>
    <string>thal-ar.glif</string>
    <key>theh-ar</key>
    <string>theh-ar.glif</string>
    <key>thousandseparator-ar</key>
    <string>thousandseparator-ar.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>three-persian</key>
    <string>three-persian.glif</string>
    <key>threedotsdownabove-ar</key>
    <string>threedotsdownabove-ar.glif</string>
    <key>threedotsdownbelow-ar</key>
    <string>threedotsdownbelow-ar.glif</string>
    <key>threedotsupabove-ar</key>
    <string>threedotsupabove-ar.glif</string>
    <key>threedotsupbelow-ar</key>
    <string>threedotsupbelow-ar.glif</string>
    <key>tteh-ar</key>
    <string>tteh-ar.glif</string>
    <key>tteheh-ar</key>
    <string>tteheh-ar.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>two-persian</key>
    <string>two-persian.glif</string>
    <key>twodotshorizontalabove-ar</key>
    <string>twodotshorizontalabove-ar.glif</string>
    <key>twodotshorizontalbelow-ar</key>
    <string>twodotshorizontalbelow-ar.glif</string>
    <key>twodotsverticalabove-ar</key>
    <string>twodotsverticalabove-ar.glif</string>
    <key>twodotsverticalbelow-ar</key>
    <string>twodotsverticalbelow-ar.glif</string>
    <key>u-ar</key>
    <string>u-ar.glif</string>
    <key>uHamzaabove-ar</key>
    <string>uH_amzaabove-ar.glif</string>
    <key>vabove-ar</key>
    <string>vabove-ar.glif</string>
    <key>vbelow-ar</key>
    <string>vbelow-ar.glif</string>
    <key>ve-ar</key>
    <string>ve-ar.glif</string>
    <key>veh-ar</key>
    <string>veh-ar.glif</string>
    <key>vinvertedabove-ar</key>
    <string>vinvertedabove-ar.glif</string>
    <key>vinvertedbelow-ar</key>
    <string>vinvertedbelow-ar.glif</string>
    <key>wasla-ar</key>
    <string>wasla-ar.glif</string>
    <key>wavyhamzaabove-ar</key>
    <string>wavyhamzaabove-ar.glif</string>
    <key>wavyhamzabelow-ar</key>
    <string>wavyhamzabelow-ar.glif</string>
    <key>waw-ar</key>
    <string>waw-ar.glif</string>
    <key>waw-ar.fina</key>
    <string>waw-ar.fina.glif</string>
    <key>wawDotabove-ar</key>
    <string>wawD_otabove-ar.glif</string>
    <key>wawHamzaabove-ar</key>
    <string>wawH_amzaabove-ar.glif</string>
    <key>wawTwodots-ar</key>
    <string>wawT_wodots-ar.glif</string>
    <key>wawring-ar</key>
    <string>wawring-ar.glif</string>
    <key>yeh-ar</key>
    <string>yeh-ar.glif</string>
    <key>yeh-farsi</key>
    <string>yeh-farsi.glif</string>
    <key>yehHamzaabove-ar</key>
    <string>yehH_amzaabove-ar.glif</string>
    <key>yehKashmiri-ar</key>
    <string>yehK_ashmiri-ar.glif</string>
    <key>yehTail-ar</key>
    <string>yehT_ail-ar.glif</string>
    <key>yehThreedotsabove-farsi</key>
    <string>yehT_hreedotsabove-farsi.glif</string>
    <key>yehThreedotsbelow-ar</key>
    <string>yehT_hreedotsbelow-ar.glif</string>
    <key>yehTwodotsabove-farsi</key>
    <string>yehT_wodotsabove-farsi.glif</string>
    <key>yehVabove-ar</key>
    <string>yehV_above-ar.glif</string>
    <key>yehVinverted-farsi</key>
    <string>yehV_inverted-farsi.glif</string>
    <key>yehbarree-ar</key>
    <string>yehbarree-ar.glif</string>
    <key>yehbarree-ar.fina</key>
    <string>yehbarree-ar.fina.glif</string>
    <key>yehbarreeHamzaabove-ar</key>
    <string>yehbarreeH_amzaabove-ar.glif</string>
    <key>yu-ar</key>
    <string>yu-ar.glif</string>
    <key>zah-ar</key>
    <string>zah-ar.glif</string>
    <key>zain-ar</key>
    <string>zain-ar.glif</string>
    <key>zainVinvertedabove-ar</key>
    <string>zainV_invertedabove-ar.glif</string>
    <key>zero-ar</key>
    <string>zero-ar.glif</string>
    <key>zero-persian</key>
    <string>zero-persian.glif</string>
  </dict>
</plist>
