<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>master01</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._sad-ar.head</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ain-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ain-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ain-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ain-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ainThreedots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina.1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina.1.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.fina.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alef-ar.short</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefHamzabelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefMadda-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefMaksura-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefMaksura-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefWasla-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefWavyhamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefWavyhamzabelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.arHighHamza.above</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behDotless-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behDotless-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behDotless-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behDotless-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behThreedotsupabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behThreedotsupbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behTwodotsbelowDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behVabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behVbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behVinvertedbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.beheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.behhamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dad-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dadDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dahal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dal-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalDotbelowTah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalFourdots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalThreedotsdown-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalTwodotsverticalbelowTah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalVinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dalVinvertedbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.damma-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.damma-ar.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dammainverted-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dammareversed-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dammatan-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddahal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.decimalseparator-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotcenter-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotvowelbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dul-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dyeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.extender</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fatha-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fathaHorizont-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fathatan-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fathatwodots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.feh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotless-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotless-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotless-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotless-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehDotmovedbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fehThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-persian.urdu</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fourdotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fourdotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fullstop-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gaf-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gafRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gafThreedots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gafTwodotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gafsarkashabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghain-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghainDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gueh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.fina2</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hah-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahTahabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahThreedotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahThreedotsupbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahTwodotshorizontalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hahTwodotsverticalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hamza-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hamzabelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heh-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heh-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.heh-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehDoachashmee-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehDoachashmee-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehVinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoal-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hehgoalHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.highhamza-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.highhamzaAlef-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.highhamzaWaw-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.highhamzaYeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jeem-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jeemTwodotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.jeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaf-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaf-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaf-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafDotless-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafDotless-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kafswash-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kashida-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kasra-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kasra-ar.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kasratan-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kasratan-ar.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.keheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.keheh-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kehehDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kehehThreedotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kehehThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kehehThreedotsupbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kehehTwodotshorizontalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kirghizoe-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kirghizyu-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.init.1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lam-ar.medi.1</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamBar-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamThreedotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lamVabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.madda-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.meem-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.meem-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.meem-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.meem-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.miniKeheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ng-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ngoeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noon-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonTahabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonThreedotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonTwodotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonVabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonghunna-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonghunna-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonghunnaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nyeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright.ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qaf-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qafDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qafDotless-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qafDotless-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qafThreedotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.reh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.reh-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehDotbelowdotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehFourdots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehStroke-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehTwodots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehTwodotsverticalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehVbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehVinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rehv-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rnoon-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.rreh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sad-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sad-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sad-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sad-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sadThreedots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sadTwodotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seen-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seen-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seen-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seen-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenDotbelowDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenFourdotsabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenTahTwodotshorizontalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenTwodotsverticalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenVinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-persian.urdu</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shadda-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shadda-ar.alt</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheen-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheenDotbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheenThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.stroke-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sukun-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tah-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tah-ar.init</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tah-ar.medi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tahThreedots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tahabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tail-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tchehDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcheheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.teh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tehMarbuta-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tehMarbutagoal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tehRing-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tehThreedotsdown-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tehThreedotsupbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.teheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thal-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.theh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thousandseparator-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threedotsdownabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threedotsdownbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threedotsupabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threedotsupbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tteh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tteheh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-persian</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twodotshorizontalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twodotshorizontalbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twodotsverticalabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twodotsverticalbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ve-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.veh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vinvertedbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wasla-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wavyhamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wavyhamzabelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waw-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waw-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wawDotabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wawHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wawTwodots-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.wawring-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeh-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yeh-farsi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehKashmiri-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehTail-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehThreedotsabove-farsi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehThreedotsbelow-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehTwodotsabove-farsi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehVabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehVinverted-farsi</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehbarree-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehbarree-ar.fina</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yehbarreeHamzaabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yu-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zain-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zainVinvertedabove-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-persian</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
